[2015-09-22 15:42] mulhearn opened #40 "[PR tracking] for RCT unpacker and DQM"
Track the following until merged with CMSSW:
76X PR cms-sw#10882 is merged (since CMSSSW_7_6_0_pre6)
75X PR cms-sw#10881 is merged.
74X PR cms-sw#10880 is tested and signed, but rejected by ORP due to impending obsolescence of 74X.

[2015-09-22 15:48] mulhearn opened #41 "[PR Tracking] for Tau Algorithm, Jet Algorithm, and Alg Updates (circa Mid Sept 2015)"
76X PR cms-sw#11253 is already merged (since 7_6_0_pre5)
75X PR cms-sw#11437 is merged.
74X PR cms-sw#11435 is merged.
So far only the minimum prerequisites commits from #43 needed to compile cms_sw#11253 were included in the 74X PR.  I still worry that stuff is missing in 74X but will follow up in that dedicated issue.

[2015-09-22 15:57] mulhearn opened #42 "Comparison of payload hash for MC tag and online for all L1 tables"
@dburns7 has made a tool for top-level comparison of L1 payloads.

The tool simply reads all the L1 tables from the DB, then uses the common DB tool for dumping the has of each payload using this snippet:

   process.GlobalTag.DumpStat =  True

Now that the tool is working, we need to compare data tags to MC tags and follow up on all discrepancies.

The relevant deadline is the close of 76X ~ Oct

[2015-09-22 16:22] mulhearn opened #43 "[PR tracking] check whether wholesale 75X L1T update requires backport to 74X"
Does PR cms-sw#9216 require a backport to 74X?

Also:  Confirm forward port to 76X.

[2015-09-22 16:56] mulhearn opened #44 "Placeholder: 75X PRs"
Tracking the following 75X PRs to see if any are needed in 74X:

https://github.com/cms-sw/cmssw/pulls?utf8=✓&q=is%3Apr+author%3Amulhearn+milestone%3A%22Next+CMSSW_7_5_X%22+

(As needed, adding issues for each item.)

[2015-09-23 11:58] mulhearn opened #45 "[TODO] Delete unused branches from cms-l1t-offline"

[2015-09-23 11:59] mulhearn opened #46 "[TODO] Cleanup configuration files to use Eras style"

[2015-09-23 13:02] mulhearn opened #47 "L1GtUtils errors"
DL writes:

Amongst the other messages that have come into 76x, the loudest ones are

%MSG-e HLTConfigData: PATTriggerProducer:patTrigger 17-Sep-2015 23:28:17 CEST Run: 1 Event: 2001 Error in determining HLT prescale set index from L1 data using L1GtUtils: Tech/Phys error = 210110/210110 Tech/Phys psfsi = -1/-1 %MSG %MSG-e HLTConfigData: PATTriggerProducer:patTrigger 17-Sep-2015 23:28:17 CEST Run:

[2015-09-23 13:43] dburns7 commented on #42
Missing headers (look up in cmslxr):
//#include "CondFormats/DataRecord/interface/L1JetEtScaleRcd.h"
//#include "CondFormats/L1TObjects/interface/L1JetEtScale.h"

//#include "CondFormats/DataRecord/interface/L1EmEtScaleRcd.h"
//#include "CondFormats/L1TObjects/interface/L1EmEtScale.h"

//#include "CondFormats/DataRecord/interface/L1HtMissScaleRcd.h"
//#include "CondFormats/L1TObjects/interface/L1H

[2015-09-23 14:16] mulhearn opened #48 "[PR Tracking] MET fix"
76X cms-sw#11372 is already merged.
75X cms-sw#11373 is already merged.
74X cms-sw#11378 is already merged.

[2015-09-23 14:29] mulhearn opened #49 "[PR Tracking] Switch CaloParams to GT"
Add new PU and V3 of Jet LUT, on top of previous updates, to 74X/75X/76X and then switch to taking from GT.

- O2O of new tables with JEC v3 and PUS [DONE]
- Bitwise check of above with MC tag [DONE]
- Copy O2O tag to MC tag complete [DONE]
- GT request for update MC tag [In GT]
- GT Request for update data tag [In GT]
- 76X PR for removing calo-configs via local config here: cms-sw#12096 [Merged]

[2015-09-23 14:35] mulhearn commented on #41
@apana you are interested in this.

[2015-09-23 14:35] mulhearn commented on #48
@apana you are interested in this.

[2015-09-23 14:35] mulhearn commented on #49
@apana you are interested in this.

[2015-09-23 14:40] mulhearn commented on #42
Complete list of tables with different payloads for MC tags for online tags:

   < L1GctJetFinderParamsRcd : a1382a5ec3896a1c658f55326acd16719ee85a43
   ---

   11c11
   < L1GtParametersRcd : adeccfb5cef554aa74f9c4627eb05f5e7358a87d
   ---

   13c13
   < L1GtPsbSetupRcd : bf31c439739a6b7274e449b87b669b4b86a7a74a
   ---

   17c17
   < L1GtTriggerMenuRcd : a9fd5e028ccd6da23a11afa97a8dfccae4d2dc2e

[2015-09-23 14:54] mulhearn commented on #48
76X version is fully signed and tested and was requested at ORP.  The 75X and 74X PRs won't be accepted by release manager until it passes RelVals in 76X.

[2015-09-23 15:07] mulhearn commented on #41
After cherry-picking into 74X, the following compile error... some prereq missing... investigating.
error: 'isoTauLut' was not declared in this scope
      unsigned lutAddress = isoTauLut->lutAddress(tauEt,jetEt);

[2015-09-23 15:17] mulhearn commented on #41
This one isn't in 74X...
   https://github.com/cms-l1t-offline/cmssw/commit/bbcafcad6dd30aa74c8008eee2a37a89d0666040

This was part of the wholesale 75X alg updates that weren't backported to 74X, tracking this issue here #43

[2015-09-24 08:45] mulhearn commented on #42
@dburns7 remaining TODO on this:
1) use cmslxr to find the location of the objects not in CondFormats/L1TObjects.
2) look at includes above and see how to print out the payloads above that are discrepant (e.g. L1MuGMTParametersRcd).
3) Extend (2) for all tables that have printout capability but make config driven, defaulted to off.

[2015-09-24 08:48] mulhearn commented on #42
topic branch for this task is here:
https://github.com/cms-l1t-offline/cmssw/tree/l1t-configdump-CMSSW_7_6_0_pre5

[2015-09-24 10:42] mulhearn commented on #49
This is looking good.  Using Dustin's tool for loading all L1T tables, I see the stage 1 parameters being changed as expected for new run with JEC V3 + PU.  Here's the IOV and payload hash forO2O for two different runs:

Run 256676:
   L1TCaloParamsRcd / : frontier://FrontierProd/CMS_CONDITIONS, L1TCaloParams_CRAFT09_hlt

   Time look up, payloadIds:
   256671 - 256677 : 25c2d4585dded80b2dda7f2725

[2015-09-24 11:45] mulhearn commented on #49
For a check of O2O, comparing to the expected payloads loaded via local config file instead of O2O, I find the payloads for jet and PUS LUTs:

jetCalibrationLUT=      [32768] c9057cc92dccf1908a8e09ef0f67fc8117710c92
regionPUSParams= [396] f5b352543bbe34c27a425882e523b3e44d74e332

[2015-09-24 11:49] mulhearn commented on #49
When comparing the local config driven payloads to the O2O, there are a bunch of entries that are filled unecessarily from local config (due to defaults) that are zero in O2O.  This is known.  The only discrepancy that remains after ignoring these is the TAU calibration LUT:

  <   tauCalibrationLUT=      [32768] 076d8758ce6e153e21bac820502966526f48c9e1

[2015-09-24 12:15] mulhearn commented on #49
Ah, looking closer, I believe this is the known difference in (unused) addresses... online leaves them zero.

[2015-09-24 12:27] mulhearn commented on #49
Indeed discrepancies in LUTs are only:

1) online table is empty until address 4104
2) offline table is empty from address 18432

These both correspond to address ranges not used by algorithm.  Ironically, the polarity of issue (2) was different for previous tests, but online fixed to agree with offline, and offline fixed to agree with online, and this results ;-)   But it is immaterial!

-Mike

[2015-09-24 12:45] dburns7 commented on #42
Update pushed.

[2015-09-24 13:30] mulhearn commented on #49
The new MC tag (uploaded, but not available yet) is "L1TCaloParams_collisions_v1_mc".

[2015-09-24 13:53] mulhearn opened #51 "[TODO] Fix RCT Parameters"
Fix two problems with RCT Parameters: neglected backport for 74X, and update payloads in GT.

74X PR cms-sw#11288 is merged, awaiting new CMSSW patch
Corrected GTs have been requested.

[2015-09-24 14:30] mulhearn opened #52 "Update docs to show package location"
packages updated after discussion with Stage2Layer1 folks, web docs need to be updated.

[2015-09-24 14:31] mulhearn opened #53 "[TODO] Standard Sequence cleanup with Eras"

[2015-09-24 14:32] #53 closed

[2015-09-24 14:33] mulhearn opened #54 "[TODO] New External Library for MicroGT"
L1T GT folks have requested an external library for parsing xml to construct trigger terms.  The Offline management has proposed an alternative:  external tagged library in git, which CMSSW downloads and compiles.

[2015-09-24 14:34] mulhearn opened #55 "[TODO] Follow up on CaloGeometry update"
Follow up needed for this PR cms-sw#10494

[2015-09-24 14:35] mulhearn commented on #55
@kkotov : can you handle merging/cherrypicking this PR into O2O and testing that it doesn't break anything?

[2015-09-24 15:05] mulhearn opened #56 "[O2O] Send Costas Detailed List of Steps Needed for Subsystem O2O"

[2015-09-25 19:09] mulhearn commented on #40
@nsmith- you can track progress here...  we'll need to wait for relval rsults in 76X before it will be allowed in 75X/74X.

[2015-09-26 02:16] mulhearn opened #58 "[PR Tracking] Initial Commits for 2016 Muon Emulation"
Only intended for 76X:

- PR cms-sw#11504 includes MicroGMT and needed DataFormats
- EventFilter PR still needed.

TrackFinder code is not yet ready for primetime.

[2015-09-26 15:41] thomreis commented on #58
Hi Mike,

looking at the file names for the MicroGMT it seems strange that they all still have L1T as a prefix. Joschka has fixed that already some time ago. Which branch did you use? Or did I miss something?

Cheers,
Thomas

[2015-09-26 16:32] jlingema commented on #58
Hi Thomas, Mike,

I only changed the names of the DataFormats. The L1T prefix was added by Mike only to the plugins, so I guess that's yet another naming convention we didn't follow :)

Cheers,
Joschka

[2015-09-26 17:22] thomreis commented on #58
I read the minutes again and found it there. Sorry for the false alarm.

[2015-09-26 19:45] mulhearn commented on #58
Yeah, the plugins don't work well with namespaces, so we put it in the name.   Same for CondFormat/DataRecords...

[2015-09-29 07:35] mulhearn commented on #49
Seems to be a technical problem with making the GT request...  The web interface does not recognize L1TCaloParams.  Following up with Salvatore.

[2015-09-29 07:41] mulhearn commented on #54
I will bring this up at the ORP today... the request is in the agenda:

   https://twiki.cern.ch/twiki/bin/view/CMS/OfflineComputingPlanningMeeting20150929

[2015-09-29 15:31] kkotov commented on #55
We may need a small L1T O2O modification on top of this PR addressing this error message:
"
No "CaloGeometryRecord" record found in the dependent record "L1CaloHcalScaleRcd".
 Please add an ESSource or ESProducer that delivers the "CaloGeometryRecord" record.
"

[2015-09-29 15:53] mulhearn commented on #54
TODO:  provide instructions for building (in git with tags) or as tarballs.

[2015-09-29 16:29] mulhearn commented on #49
It seems our namespaces are too blame...  I need to move the l1t:: into the macros, but Salvatore has made the GT requests in 74X/75X/76X using magic.

[2015-09-29 16:40] mulhearn commented on #51
Since the 74X GT queues are closed, we need a new 74X GT for data-MC comparisons which includes fixes to improve data/MC agreement since 74X MC production began.  We also need to ask HLT / TSG what they want in the 74X_HLT_mcRun2_startup_dataMC_comparision_Queue ... I assume they want the correct L1RCTParameters there as well (check), if they want CaloParams updated as well to match Stage1 online,

[2015-09-29 16:50] mulhearn commented on #51
Probably want L1GCTJetFinderParams_stage1_25ns_mc in that Queu as well... (check HLT).  Its currently an ancient 2012 table.

[2015-10-02 16:03] mulhearn commented on #54
@blwiner you can follow this issue here.  It has been decided that this will be an external library.  We need to provide instruction for building it, either in git with tags, or by providing source tarballs.  I presume we'll go with the former?

[2015-10-07 05:52] mulhearn opened #60 "Update HLT / L1T interface to deprecate L1Extra."
For Stage 2.

[2015-10-09 14:55] mulhearn opened #61 "[PR Tracking] Emulator Bug Fixes for Rare Overflows"
Tracking the following PRs:

76X: https://github.com/cms-sw/cmssw/pull/11676 is merged since CMSSW_7_6_0_pre7
75X: https://github.com/cms-sw/cmssw/pull/11677 (Merged)
74X: https://github.com/cms-sw/cmssw/pull/11678

[2015-10-09 15:00] harmonicoscillator commented on #61
The 75X and 74X PRs will depend on your issue #48

[2015-10-09 15:01] mulhearn commented on #61
Those are just waiting for relvals before the backports are admitted.  I'll check the status.

[2015-10-10 03:38] mulhearn opened #62 "[PR Tracking] Updates for Stage-2 Unpacking and Algorithms"
Tracking the PR for Stage 2 unpacking:

   76X:  cms-sw#11866 (tests underway)

Tracking the PR for Stage 2 algorithm updates:

  76X:  cms-sw#11867 (tests underway)

Do we need back ports to 74X/75X?  I guess maybe no?

[2015-10-10 03:39] mulhearn commented on #62
@blwiner @jimbrooke lets track this issue here.  Jim, is the stage 2 calo unpacker update ready for prime time?

[2015-10-17 13:53] jimbrooke commented on #62
Apologies for missing this when it was created.  I'm not sure if there are still changes anticipated for uGT, but the stage 2 calo unpacker is now ready for prime time (although still not included in any standard workflow).  See PR 11853.

[2015-10-17 20:34] mulhearn opened #63 "[TODO] Update Fill Descriptions Methods for L1T Producers"
@z4027163 you are the point man for this desk.

We need to update the fillDescriptions methods throughout L1T modules so that we get sensible debugging output when parameters are left unset by users.

[2015-10-17 21:06] mulhearn commented on #63
Start with these violators:
mulhearn@lxplus0047>grep setUnknown L1Trigger/L1TCalorimeter/plugins/*
L1Trigger/L1TCalorimeter/plugins/L1TCaloRCTToUpgradeConverter.cc:  desc.setUnknown();
L1Trigger/L1TCalorimeter/plugins/L1TCaloStage1LutWriter.cc:  desc.setUnknown();
L1Trigger/L1TCalorimeter/plugins/L1TPhysicalEtAdder.cc:  desc.setUnknown();
L1Trigger/L1TCalorimeter/plugins/L1TStage1Layer2Producer.cc

[2015-10-17 21:07] z4027163 commented on #63
@mulhearn Got it

[2015-10-17 21:31] z4027163 commented on #63
Working on
https://github.com/cms-l1t-offline/cmssw/tree/l1t-filldesc-CMSSW_7_6_0_pre6

[2015-10-18 18:53] mulhearn commented on #42
Here is the latest comparison of data to MC tags, with Dustin's update to include more tables:

  < L1CaloGeometryRecord : 0691baf38bdaa9ac9adc4271e80ebcb08402483b

  < L1GctJetFinderParamsRcd : 0fbb433d66b1e5c2755857fd5e071f2c83f84e92

  < L1GtParametersRcd : 358b7e94fb4dfe996946fa5add95f00a0fe22198
  < L1GtPrescaleFactorsAlgoTrigRcd : 635bf03c2b9091a308b324e3be26d5241898cb3c
  < L1GtPrescaleFact

[2015-10-18 18:54] mulhearn commented on #42
@dburns7 time to practice your scripting: can you next write a perl or python script that parses the log file output from running your code and produces output like that above (Record Name : Hash Value).

[2015-10-18 19:19] mulhearn opened #64 "[TODO] Synchronize L1T scales that are not set correctly online."
Dustins tool in issue #42 reveals the following tables that are discrepant between data and MC global tags:

  L1HtMissScaleRcd
  L1HfRingEtScaleRcd

Printing the tables directly reveals that the MC global tags has the correct (stage 1) values:

  Dumping L1HtMissScale:
  L1CaloEtScale :
  Input scale max = 0
  Input LSB       = 0.5 GeV
  Rank scale max  = 127
  Threshold 0 = 0 GeV
  Threshold 1 =

[2015-10-18 19:21] mulhearn commented on #64
@kkotov @jimbrooke Khristian, can you track down why these are not set correctly online?  Do we need a new O2O or just need to update the legacy online DB with modern values?  Not sure what the correct solution is.

[2015-10-18 19:29] mulhearn opened #65 "[TODO] Add a Stage 2 era for 2016"
We need to add a Stage-2 Era to the Era customization for the 2016 L1 trigger configuration.  Mark Grimes (mark-grimes) is the contact person.  He's not in cms-l1t-offline so I can't evidently ping him directly here...

[2015-10-18 19:35] mulhearn commented on #62
Why is #11853 closed?

[2015-10-18 19:41] jimbrooke commented on #62
Because apparently there are conflicts and I couldn’t figure out why…  Didn’t want to leave it open until/unless I knew you were able to take a look.  I will repoen it.

[2015-10-18 19:43] mulhearn opened #66 "[TODO] Prepare Stage-2 PRs"
@jimbrooke has a few branches that include additional (not wanted for CMSSW) changes.  Helping to extract these for PRs here.

[2015-10-18 19:44] jimbrooke commented on #62
Also because it pulls in L1Trigger/L1TNtuples after I managed to add to the branch unintentionally.  Sigh.

On 18 Oct 2015, at 20:41, Jim Brooke <Jim.Brooke@cern.ch<mailto:Jim.Brooke@cern.ch>> wrote:

Because apparently there are conflicts and I couldn’t figure out why…  Didn’t want to leave it open until/unless I knew you were able to take a look.  I will repoen it.

On 18 Oct 2015, at 20:35, mul

[2015-10-18 19:45] jimbrooke commented on #64
I strongly suspect the legacy DB contains out of date values.

[2015-10-18 19:47] mulhearn commented on #66
Needed changes are:

1) https://github.com/cms-l1t-offline/cmssw/tree/l1t-calol2unpacker-CMSSW_7_6_0_pre2
but without the inadvertent inclusion of L1TNtuples.

2) https://github.com/cms-l1t-offline/cmssw/tree/l1t-stage2eg-CMSSW_7_5_0_pre5
but only the stuff in L1Trigger/L1TCalorimeter.

I'll fix this here and record the procedure for future reference.

[2015-10-18 19:50] jimbrooke commented on #66
1) is the wrong branch, it should be l1t-calol2unpacker-CMSSW_7_6_0_pre2

[2015-10-18 20:00] mulhearn commented on #64
OK, so is the operational plan that we should just keep these up to date online?  Presumably these are just hardcoded in the online hardware then?

[2015-10-18 20:04] mulhearn commented on #66
Yeah, I noticed when I got 8 million conflicts... Its fixed.

[2015-10-18 20:47] mulhearn commented on #66
Here's the procedure I used for fixing (1):

[code]

Note for future use, the most recent commit at top of the output, in
this case 37107a0dcf52a03e1034b35fe974b61d5e41d869.  Now merge in
the branch with needed changes + unneeded changes.

[code]

Now the trick is to reset the head using soft option to the original
commit.  The soft option means keep all the changes in your local
area, but reset t

[2015-10-18 20:48] mulhearn commented on #66
There are conflict in this branch when merging with latest 76X.  I'll fix those separately.

[2015-10-18 21:29] mulhearn commented on #45
First pass through complete.  Could probably cut harder.

[2015-10-18 21:31] mulhearn commented on #66
OK, the PR for stage 2 unpacking is here:  cms-sw#11866

[2015-10-18 21:33] mulhearn commented on #62
OK, I have fixed the PR for the Stage 2 unpacker.  Does this include everything needed for GT unpacking as well?  PR is here:  cms-sw#11866

[2015-10-18 22:19] mulhearn commented on #66
The PR for stage 2 alg updates is here:  cms-sw#11867

[2015-10-18 22:20] mulhearn commented on #66
This one is done!

[2015-10-18 22:20] #66 closed

[2015-10-18 22:23] mulhearn commented on #62
OK, both unpacker and alg update PRs are being tracked here.  @jimbrooke, @blwiner can you confirm that this has all your latest and greatest?

[2015-10-19 00:41] mulhearn opened #67 "[TODO] Request backports at next ORP"
We have a backlog of 74X/75X PRs that have now been in 76X long enough for RelVals.  Keeping track of complete list here:

75X PR cms-sw#11437 is tested, signed, and in 76X since pre5. (Merged)
75X PR cms-sw#10881 is tested, signed, and in 76X since pre6. (Merged)
75X PR cms-sw#11373 is tested, signed, and in 76X since pre6. (Merged)

74X PR cms-sw#11435 is tested, signed, and in 76X since pre5. (

[2015-10-19 00:42] mulhearn commented on #40
Included in ORP request here:  #67

[2015-10-19 00:43] mulhearn commented on #41
Included in #67

[2015-10-19 00:45] mulhearn commented on #48
Included in #67

[2015-10-19 00:49] mulhearn commented on #61
This only made pre7, I doubt the relvals are ready.

[2015-10-19 01:00] mulhearn commented on #67
The request has been made on the ORP agenda here:

https://twiki.cern.ch/twiki/bin/view/CMS/OfflineComputingPlanningMeeting20151020

[2015-10-19 07:15] mark-grimes commented on #65
The auto-complete won't work but I'm pretty sure you can ping any github user from any repository/organisation.

I've added an entry to this weeks ORP meeting agenda.  Once that's discussed I can put in a pull request.

[2015-10-19 07:40] mark-grimes commented on #65
I have a branch ready for the sub-era `stage2L1Trigger` here: https://github.com/cms-sw/cmssw/compare/cms-sw:CMSSW_7_6_X...mark-grimes:addStage2L1TriggerEra.  This is what you would use to apply the customisations in your config files; I see no reason why this won't be approved.

For the user-level era (i.e. what the user selects, which will be composed of `stage2L1Trigger` and whatever other comp

[2015-10-19 08:13] blwiner commented on #62
Mike,

   This does not appear to have the the latest changes for the uGT
unpackers.  These were put on the l1t-devel branch, which was for unpacker
development.  However, at some point the stage2 calo unpacker development
got moved to a different branch.  The latest changes to the uGT unpacker
did not get moved to that new branch.   What can we do about this?

 -Brian

On Sun, Oct 18, 2015 at 6:2

[2015-10-19 10:30] koskot77 commented on #64
select TSC_KEY from CMS_TRG_L1_CONF.L1_CONF_DETAILS_VIEW where L1_KEY like 'L1_20151016_064615_10390' ;
select GCT_KEY from CMS_TRG_L1_CONF.TRIGGERSUP_CONF where TS_KEY like 'TSC_20151008_003499_cosmics_BASE' ;
select GCT_PHYS_PARAMS_KEY from CMS_GCT.GCT_CONFIG where CONFIG_KEY like 'V38_14_Ext40_2015_03_17_JetSeedThresh5GeV_Add9Lat_Orsc_Sub14';
select GCT_SCALES_KEY from CMS_GCT.GCT_PHYS_PARAMS w

[2015-10-19 10:36] jimbrooke commented on #64
Yes, I think the correct fix is to put the new values in the online DB, then they will be O2O’d, and then if possible patch up the IOVs to match the data already taken.  I guess someone from GT can create the new online scales.

On 19 Oct 2015, at 12:30, koskot77 <notifications@github.com<mailto:notifications@github.com>> wrote:

select TSC_KEY from CMS_TRG_L1_CONF.L1_CONF_DETAILS_VIEW where L1_KE

[2015-10-21 11:49] mark-grimes commented on #65
This was discussed in the 20/Oct/2015 release planning meeting, and I've put in cms-sw/cmssw/#12023 for 8_0_X.  The top-level era is named `Run2_2016`, and as mentioned the stage 2 specific part is `stage2L1Trigger`.  So once that PR is merged:

When calling cmsDriver.py use `Run2_2016`, i.e.

[code]

When configuring in your python files, use `stage2L1Trigger`, e.g.

[code]

There are other ways

[2015-10-22 08:57] dburns7 commented on #42
Done. Script attached and in /afs/cern.ch/user/d/dburns/work/public/for_mike

[2015-10-22 09:20] mulhearn opened #68 "Updates for HI O2O and related changes to CaloParams."
First pass PRs are here:
 - 80X cms-sw#12176 (Merged)
 - 76X cms-sw#12180 (Merged)
 - 75X cms-sw#12183 (Merged)

Second Pass PRs are here:
 - 75X cms-sw#12364 Updates config files used in customization (Merged)
 - 75X cms-sw#12366 Removes Customization (Superceded by following)
 - 75X  cms-sw#12475 Removes Customizations plus new GT with latest HI mc tags. (tests underway)

After feedback from Alc

[2015-10-22 09:24] mulhearn commented on #68
@richard-cms @kkotov lets track this project here.

[2015-10-22 11:36] mulhearn opened #69 "[TODO] Decide Future Use of CaloConfig and DB writing."
Three possibilities for short-term CaloConfig:

1) Use Era-style configuration and continue to fill CaloConfig via local config file.

2) Write using ESProducer two version of CaloConfig to DB, one for HI, one for PP.  Then, in both data and MC GTs, use the appropriate table.

3) Start O2O'ing the actual firmware versions used online.  This requires some coordination between offline and online, as

[2015-10-22 11:38] mulhearn commented on #49
Looks like these are now in GT, but PR is _still_ needed that turns off the local configuration....  need the ASAP for 76X, but it should be bitwise equivalent change.

[2015-10-22 11:49] mulhearn commented on #51
This requires a followup.  I have e-mailed Andrea.

[2015-10-22 12:06] harmonicoscillator commented on #68
Hey Mike,

I can't promise much time spent on doing this again - we're in the middle
of Heavy Ion preparation which is taking almost all of my time. You can
find the branches where the first attempt for 74X was here:
https://github.com/cms-l1t-offline/cmssw/tree/l1t-devel-CMSSW_7_4_X-CaloParamsUpdate

Alex

On Thu, Oct 22, 2015 at 5:24 AM, mulhearn notifications@github.com wrote:

[2015-10-22 12:46] mulhearn opened #70 "[TODO] Add DQM module for verifying L1 payload of MiniAOD"
This is a good project for a new student.

[2015-10-22 12:50] mulhearn commented on #51
After discussions with Andrea and David, use cases for 74X are dwindling.  But generally:
- A DataVsEmulation GT is probably useful.  This would allow us to update conditions that were actually used for data taking without disturbing the tags used for MC generation.
- But more importantly from their point of view:  verify that the MC tags for 76X correctly reproduce 2015 data taking.

[2015-10-22 12:52] mulhearn commented on #67
The 75X requests have been merged.  After further discussions from David, he prefers to merge only the algorithm updates, and leave out  cms-sw#10880.

[2015-10-22 12:54] mulhearn commented on #40
@nsmith-  David (offline coordinator) has merged this into 75X, but is resistant to put this is 74X.  DQM is already using this in their own patch, and use cases for 74X are dwindling.  Do you have any objection to leaving this out of 74X or do I need to push back on this?

[2015-10-22 13:18] mulhearn opened #71 "L1 uGT O2O for 2016 Run"
For the 80X deadline:
 - Brian and Darren to continue developing emulator to use new grammar.
 - Takashi to provide updated library with data / logic separated, in preparation for O2O.
 - Mike to handle switch to using CondFormats once updated library available

[2015-10-22 13:18] mulhearn commented on #71
@blwiner let's track this issue here.

[2015-10-22 13:41] mulhearn commented on #62
To include uGT changes I also need to add these commits:
  7f641f4ec73a5b1e58eff80081d8ec392fdcad6e
  2e747e3f5101f01f6d6b570c412f9dc4e3249661
  1d7de8d8ed04a219a69ac7b82395449b939442ba
  6fa81db31b02bed7b7232d92e5ada517d62d108f

[2015-10-22 13:42] mulhearn commented on #62
@jimbrooke can you update this thread once you define a new development branch and I'll add in these uGT unpacker changes?

[2015-10-22 13:43] nsmith- commented on #40
I think that's ok, as long as the DQM patch sticks around
I assume DQM is moving to 75X for HI running?

btw it's `nsmith-`

[2015-10-22 13:50] mulhearn commented on #40
I think nsmith must hate you ;-)

[2015-10-22 14:06] mulhearn commented on #40
Just to be certain, I emailed Jingyu as well.

[2015-10-22 14:26] mulhearn commented on #40
Jingyu says it is OK, as long as 74X PR is left open.

[2015-10-22 14:27] mulhearn commented on #40
Looks like this one is closed.

[2015-10-22 14:27] #40 closed

[2015-10-22 14:28] mulhearn commented on #48
David agrees to merge, this will be in 74X soon.

[2015-10-22 14:30] mulhearn commented on #41
David agrees to include in 74X, so no longer urgent issue.

[2015-10-22 14:32] mulhearn commented on #42
@dburns7 thanks for the script, will be testing shortly.

Now we need to urgently track down the discrepancies that your tool reveals.

[2015-10-22 14:33] mulhearn commented on #42
We need by Monday to know if any conditions updates are needed for 76X, I'm reusing this branch to check.

[2015-10-22 14:43] mulhearn commented on #64
In terms of urgency, I guess this doesn't in principle need to fixed by Monday (CMSSW release deadline) because the MC tags are correct, but we should obviously get this in quickly anyway.

[2015-10-22 14:47] mulhearn commented on #68
Understood, Alex, but presumably you can help with the part of this about adding HI parameters to CaloParams?

[2015-10-22 14:55] mulhearn commented on #68
So we decided on the the mouthful name "L1TCaloParamsStage2Helper".

[2015-10-22 18:46] harmonicoscillator commented on #68
Mike,

I have a branch based on 7_6_0_pre7 which includes:
1) The HI emulator development
2) The CaloParamsHelper class (same one used for Stage1 and Stage2)
3) Several new caloparams for use by HI

https://github.com/richard-cms/cmssw/tree/HIL1_FirmwareMatching_760p7

In all cases I just used iparams_[0] for the new HI params (see for example
this one:
https://github.com/richard-cms/cmssw/blob/HI

[2015-10-22 19:37] mulhearn opened #72 "[TODO] Update Stage-1 Tau Lookup Tables"
New Tau lookup tables were recently brought online.  These will already be in the data tags from O2O, but the MC GTs need to be updated.

Khristian has made a new MC tag  L1TCaloParams_collisions_v3_mc which contains the new payload, taken from TSC_20151020_003550_collisions_BASE. [INCORRECT:  v3 made via config files]

GT currently has L1TCaloParams_collisions_v1_mc, which agrees via has with wha

[2015-10-22 19:43] mulhearn commented on #72
@kkotov, can you handle the GT request?  We need to make this ASAP.  I'm worried it won't make 760... it usually takes a long time to get a new GT.

[2015-10-22 19:44] mulhearn commented on #72
@kkotov, also did you confirm that only difference between this payload and previous is the tau lookup table?

[2015-10-22 19:54] mulhearn opened #73 "[TODO] Prepare for close of 76X"
This is a super issue to track all the things needed before close of 76X:
 - Turn off CaloParams from local config (PR merged: #49)
 - Calo Params correctly in GT for data and MC tags (DONE)
 - Global comparison of MC versus O2O'ed tables (See #42).
 - Deal with L1GctJetFinderParams (shown harmless, only one field used in L1Extra and it agrees)
 - There are some discrepancies with the scales, but

[2015-10-22 20:04] mulhearn commented on #68
@richard-cms a few comments, but we can live with this if your time is limited:

1) Would be better if version was always set in constructor (so e.g. eliminate "setEgNodeVersion").
Note that there is no use case for writing an obsolete version, so we will always write to the latest version.  We only need to be able to interpret obsolete version from DB.

2) Would be better if calling the setter fu

[2015-10-22 20:05] mulhearn commented on #68
@jimbrooke can you have a look at alex's changes to implement plan migration of CaloParams getters/setters to a helper class is on the mark for Stage 2?

[2015-10-23 09:04] kkotov commented on #72
@mulhearn, yes I double-checked: tau calib LUT is the only difference between v3 and v4 of the CaloParams. The GT request is posted: https://hypernews.cern.ch/HyperNews/CMS/get/calibrations/2071.html

[2015-10-23 09:05] mulhearn commented on #72
sweet!

[2015-10-23 10:31] mulhearn commented on #62
Noting that after discussion with David, these updates will target 80X instead of 76X.  But don't worry, work on 76X, this only effects the PR.

[2015-10-23 11:41] jimbrooke commented on #62
The new unpacker dev branch is l1t-s2unpacker-CMSSW_7_6_0_pre7.  I believe I pulled all the latest uGT changes.  @blwinerhttps://github.com/blwiner can you check this ?

[2015-10-23 12:33] mulhearn commented on #62
I can check and add as needed...

[2015-10-23 13:14] mulhearn commented on #62
@jimbrooke something went totally wrong with that branch.  It seems it is missing almost all of CMSSW... GITTTTT!!!!!!

See:  https://github.com/cms-l1t-offline/cmssw/tree/l1t-s2unpacker-CMSSW_7_6_0_pre7

[2015-10-23 13:15] mulhearn commented on #62
Have to drop this for now, but I can help sort out next week.

[2015-10-23 14:24] jimbrooke commented on #62
Sigh.  Fixed now.  https://github.com/cms-l1t-offline/cmssw/tree/l1t-s2unpacker-CMSSW_7_6_0_pre7

[2015-10-23 14:54] mulhearn commented on #71
Requested a meeting next week when Takashi is reportedly at CERN.

[2015-10-26 15:39] mulhearn commented on #42
@dburns7 you took me a bit too literally about reproducing the output ;-)  Can you make the script a bit more general and it outputs for any table with a hash code provided in the log file?

[2015-10-26 16:09] mulhearn commented on #42
The discrepancy in JetFinder parameters should have no effect.  For Stage-1 we only use:

[code]

[2015-10-26 23:16] mulhearn commented on #42
For L1MuGMTParameters, I see different hashcodes:

[code]

But yet a 3-way agreement of actual parameter values between dump of data tag, dump of MC tag, and local config file...

[code]

[2015-10-26 23:28] mulhearn commented on #42
For L1MuDTTFMasksRcd, the MC masks are all zero, but the data masks are:

(Run 256650 to infty)

[code]

I guess the individual channel discrepancies are expected, but the CSC masks look significantly different...

[2015-10-27 00:07] mulhearn commented on #42
For RPC configs, again despite the different hash codes, but data and MC dumps have the same values for every field:

[code]

[2015-10-27 00:07] mulhearn commented on #42
That only leaves RPCConeDefinition...  which has fairly complicated structure.

[2015-10-27 00:32] mulhearn commented on #42
@apana can you add the snippet:

[code]

and send me log file output when you run a few events through your configurations for Data and your configuration for MC?

[2015-10-27 02:32] z4027163 commented on #63
What does the second half in the brace mean when I add the description?
Like
  desc.addedm::InputTag("InputCollection",edm::InputTag("caloStage1Digis"));
  desc.addedm::InputTag("InputRlxTauCollection",edm::InputTag("caloStage1Digis:rlxTaus"));

Does that mean the default value? Is there any requirement on the name? Or any name I come up with?

Also for std::string, do I set 0 to be the second hal

[2015-10-27 08:44] dburns7 commented on #42
Update in log parser at /afs/cern.ch/user/d/dburns/work/public/for_mike

Dustin Burns
Physics Department
University of California, Davis

On Mon, Oct 26, 2015 at 4:39 PM, mulhearn notifications@github.com wrote:

[2015-10-27 13:50] mulhearn commented on #42
Update:  Discussing with Giacomo and Andreas, hash-code discrepancies can arise when payloads are written using different versions of Boost.  Confirmed for L1MuGMTParameters that the boost version was different for Data vs MC payloads.  So now it is understood how hash code can be different but payload is identical.

[2015-10-27 16:04] kkotov commented on #42
![l1mugmtparametersrcd](https://cloud.githubusercontent.com/assets/11047399/10764026/940a0446-7ccc-11e5-9ac1-d2e776be92fc.png)
As Mike noticed, there may be a difference between 74x and 75x because the L1MuGMTParameters have been accepted for 75x, but not for the 74x.

[2015-10-27 16:07] kkotov commented on #42
Well, a more detailed screenshot:
![l1tgmtparameters](https://cloud.githubusercontent.com/assets/11047399/10764162/28d31d42-7ccd-11e5-97e2-5a675c4e2283.png)

[2015-10-28 20:32] harmonicoscillator commented on #68
Mike,

Sorry I didn't respond to your comments, was pretty deep in the saltmines.
We've just finished what I think is a "golden" HI FW version, so I will try
to address your concerns and cut a "golden" emulator branch as well,
porting it to 75X tomorrow. If you have some time to chat tomorrow (any
time after 14:00 CET) I have a few remaining O2O questions.

Alex

On Thu, Oct 22, 2015 at 4:05 PM, m

[2015-10-29 13:45] mulhearn commented on #42
The latest list of discrepancies, comparing GTs 76X_mcRun2_asymptotic_v10 and 76X_dataRun2_v9
are:

[code]

Only new item on the list is L1MuCSCTFConfigurationRcd needs investigation.

[2015-10-29 14:02] mulhearn commented on #68
This will go into 80x and than back port as needed.  What actually are the needs for Heavy Ions?  What release will you use for HI online data-taking for instance?

[2015-10-29 14:07] harmonicoscillator commented on #68
Mike,

We are using 75X for HI data taking, so I will make PRs for 80X, 76X, and
75X today (probably late today). I'm still not super sure how O2O works,
would you mind pointing me to the current O2O ESProducer, and I can think
about what we need to do for HI?

Alex

On Thu, Oct 29, 2015 at 10:02 AM, mulhearn notifications@github.com wrote:

[2015-10-29 14:32] harmonicoscillator commented on #68
Okay regarding your comment

I actually do have a use case for that in this branch, and it is the region PUS parameters used by pp. The branch that I'm merging from July used a LUT for the parameters, and that was version 1. However we never actually moved to using it, so I still need to produce settings where
pnode_[regionPUS].version_ = 0
while hiCentrality etc. are version 1. CaloParams uses th

[2015-10-29 14:57] mulhearn commented on #42
Looks like CSC changed some configuration on 9-19-2015:

[code]

[2015-10-29 15:12] mulhearn commented on #68
@richard-cms:  in this case, just blow away pnode_[regionPUS].version_=1.  The only reason to add a higher version is if we are actually going to use it...  Consider that part an exercise of this evolution feature to make sure we can use it in future if necessary... but not necessary here (since O2O simply adapted.)

[2015-10-29 15:13] harmonicoscillator commented on #68
Okay will do.

On Thu, Oct 29, 2015 at 11:12 AM, mulhearn notifications@github.com wrote:

[2015-10-29 15:14] mulhearn commented on #68
@kkotov:  can you coordinate with @richard-cms on the updates to the Stage-1 CaloParams online producer?  Timescale for this is sooner than I expect.

[2015-10-29 15:23] mulhearn opened #76 "Check if TauCalib(v2) should be O2Oed and put into an 80X MC tag."
We need to sort out what will happen with Tau Calibration v2.  Is this what we plan to start up with in 2016?  If so, it should be O2O'ed and put into an 80X MC tag.

[2015-10-29 15:29] #72 closed

[2015-10-29 15:41] mulhearn commented on #76
E-mailed Isobel/Len/Mario to see what the plan is.

[2015-10-29 16:20] isobelojalvo commented on #76
They are meant to be used online at the beginning of 2016. They have not yet been used online.

However, they are currently present in the online DB and are accessible from the online system using this key: L1tauV2Calib.

Khristian has created a baseline version of the L1TCaloParams_collisions_v3_mc tag with the v2 tau LUT.

[2015-10-29 16:25] bortigno commented on #42
Hi Mike, In those dates CSCTF changed the timing of the CSC-DT trigger primitive exchange for a few sectors. to improve the synchronisation. There have been several configuration in a short time because we had to guess the direction of the corrections. We created different configuration for collision running and cosmic running - bottom only and all phi.

[2015-10-29 16:39] kkotov commented on #76
As we discovered earlier this week, the v3 should not be intent for any future GTs. So the v4, based on v3 was rejected. Given Mike agrees, I'll overwrite the tau calib LUT in v1 (the one we are going to use) and call a new payload v5.

[2015-10-29 16:56] mulhearn commented on #76
@kkotov:  No!!! One of us is misunderstanding something.  We need to talk.

[2015-10-29 17:34] mulhearn commented on #42
@bortigno:  will this effect the output of the emulation or is this not simulated?

[2015-10-29 18:48] bortigno commented on #42
I am not sure timing is emulated. I think emulation assumes trigger primitives coming in time. A better synchronisation of real data would lead to a better agreement with the emulation. But I will double check on that.

[2015-10-29 19:36] harmonicoscillator commented on #68
The emulator PRs are up:
#12176 , #12180 , #12183

[2015-10-29 23:17] mulhearn commented on #42
All cleared up...  Here's what happened because its Edumacational.  Around 9-19 the CSC folks made some timing adjustments that had no effect on the offline table.  But they made new subsystem keys because, in fact, the online conditions did change.  So the O2O diligently did its job, constructing new payloads from the new keys.  Now, if we lived in a _sane_ world, at this point the hash code woul

[2015-10-29 23:31] mulhearn commented on #64
This seems to have stalled... I pinged the experts again...

[2015-10-29 23:38] mulhearn commented on #73
Sub-issues are down to list ends or pushed to 80x.  Closing...

[2015-10-29 23:38] #73 closed

[2015-10-29 23:43] mulhearn commented on #76
So, all sorted.  We do not yet have an L1 key for all of Stage-1 as intended for running in early 2016.  Isobel suggest we follow this up here:  https://twiki.cern.ch/twiki/bin/view/CMS/L1TCaloCalibration and harass relevant experts.  We won't produce payloads until we have an L1 tag.  Our days of hacking CaloParams together from config files are _over_ (for stage-1...)

[2015-10-29 23:46] mulhearn commented on #71
Substantial progress on this one.  We'll use the online tool for generating xml from the online database.  Then we'll use the uGT xml library to interpret that xml as classes.  Then those classes are simply cast as CondFormat classes.

[2015-10-29 23:59] mulhearn commented on #68
I'm on board for the PRs in 75X and 80X, but I'm loath to mess with 76X write before the close.

[2015-10-29 23:59] mulhearn commented on #68
How goes the unpacker?

[2015-10-30 00:00] mulhearn commented on #48
All done.

[2015-10-30 00:00] #48 closed

[2015-10-30 00:01] mulhearn commented on #41
All done.

[2015-10-30 00:01] #41 closed

[2015-10-30 00:02] mulhearn commented on #67
One rejected, but rest all merged.  This one is closed.

[2015-10-30 00:02] #67 closed

[2015-10-30 00:10] mulhearn commented on #43
Forward port to 76X confirmed.  And 74X is dead.  This one is closed.

[2015-10-30 00:10] #43 closed

[2015-10-30 00:11] mulhearn commented on #44
74X is dead.

[2015-10-30 00:11] #44 closed

[2015-10-30 00:13] mulhearn commented on #54
This is progressing elsewhere, declaring this one closed.

[2015-10-30 00:13] #54 closed

[2015-10-30 00:17] mulhearn commented on #71
Takashi Provides a more detailed study:

Hi Mike, Khristian

I just try to summarise the discussion we had today on uGT O2O.
What we agreed is not to duplicate works but use xml file as a single source of information, even for O2O.

The details are the followings;  Reference figure at https://twiki.cern.ch/twiki/pub/CMS/GlobalTriggerUpgradeL1T-uTme/MenuConditions.png
- There is a common c++ librar

[2015-10-30 00:24] mulhearn opened #77 "[TODO] Update L1TGlobal to use getByToken and consumes"
L1TGlobal emulator is still using getByLabel...

[2015-10-30 14:12] harmonicoscillator commented on #68
Mike,

HI doesn't care about 76X, we expect to take data in 75X.

I'm not sure what you mean about the unpacker? I'm pretty sure the current Stage 1 unpacker works fine for us?

[2015-11-03 13:24] mulhearn commented on #64
Summary of email exchange between Takashi, Vasile, and me:

1) All scales except L1HfRingEtScaleRcd and L1HtMissScaleRcd are bitwise the same in MC tags and data tags (output of the O2O).

2) The L1HfRingEtScaleRcd is (re)used for Isolated Taus.  GT understands the correct values to be:

[code]

 3) L1HtMissScaleRcd is used for MHT/HT.  GT understand the correct scales to be:

[code]

however, the

[2015-11-03 13:36] mulhearn commented on #64
7) The (unused by everyone) data tags (i.e. the output of O2O) have for L1HfRingEtScale:

[code]

8)  The (unused by everyone) data tags (i.e. the output of O2O) have for L1HtMissScale:

[code]

9)  Looking at hash tables in cond DB, I see that these are the legacy values, going at least all the way back to 2008:

[code]

Note that the different hashes at the end 0361... vs 5013... are an extremel

[2015-11-03 13:43] mulhearn commented on #64
To summarize, the only discrepancies are:

1) It appears for MC we introduced new scales for HT/MHT (L1HfRingEtScale_CRAFT09_hlt) that were never actually used in the L1 Menu implementation.  We should check with @apana et al. if there is any plan to use these scales in the future and which one we should use for MC in either case.

2) It appears that the O2O of both HT/MHT (L1HfRingEtScalr) and Is

[2015-11-03 13:53] kkotov commented on #64
Here I reiterate in more detail my earlier comment in this thread. The O2O payload associated with L1HtMissScaleRcd record is produced by:
https://github.com/kkotov/cmssw/blob/extended-l1o2o/L1TriggerConfig/L1ScalesProducers/src/L1HtMissScaleOnlineProd.cc
This code shows the thresholds are queried as E_GEV_BIN_LOW_\* columns of
the CMS_GT.L1T_SCALE_HTM_ENERGY. It can be reduced to a simple SQL que

[2015-11-03 13:54] mulhearn commented on #64
@kkotov can you look at bit more underneath the hood of the legacy L1HFRingEtScale online producer and determine (1) what sub-system key is being O2O'ed for the latest payloads, and (2) what precise fields in online DB are being queried to extract these values?  Once we have this, we can compare notes with the online team.

[2015-11-03 13:59] mulhearn commented on #64
@kkotov violated causality!

[2015-11-03 14:00] mulhearn commented on #64
The findings of Khristian are that even in recent L1 trigger keys like "L1_20151016_064615_10390" the L1 scales are old:  "L1T_ScaleHTM_20091006".  This is consistent with what we find in terms of output.

[2015-11-03 14:36] kkotov commented on #64
A small correction L1HfRingEtScaleRcd -> L1HtMissScaleRcd, that I made above should be
completed with the similar description for L1HfRingEtScaleRcd that is generated by:
https://github.com/kkotov/cmssw/blob/extended-l1o2o/L1TriggerConfig/L1ScalesProducers/src/L1HfRingEtScaleOnlineProd.cc

The corresponding key is queried with:

select SC_HF_ET_SUM_FK
from CMS_GT.L1T_SCALES , CMS_GCT.GCT_PHYS_PARA

[2015-11-03 16:33] mulhearn commented on #68
Pinged the alca/db folks to sign.

[2015-11-03 16:38] mulhearn opened #79 "[PR Tracking] Updated FG bit definition"
Tracking PRs:
 - 80X: (needed)
 - 76X:  cms-sw#12129

[2015-11-03 16:38] mulhearn commented on #79
@mnorthup6690 can you make an 80X PR in addition to the 76X one?

[2015-11-05 15:12] mulhearn commented on #64
Just noticed that the scales here are via the legacy _GCT_.

[2015-11-05 20:36] mulhearn commented on #79
@mnorthup6690:  can you please make the PR for 80X, then we can argue that this is needed urgently in 75X for HI running...  meanwhile, I sign the 75X PR.

[2015-11-05 20:47] mulhearn opened #82 "[Super Issue] Needed for HI Run"
This collects all of the known remaining issues for HI running.  Therefore, these are focused on a 75X patch release for online, but it should also go into 80X (and, eventually, to avoid confusion, into a 76X patch)

 - #79
 - #68
 - #61 (not urgent but already in 76X since pre7)

Note that #68 already includes PRs, but additional related work on the O2O is progressing, but is not needed for the 7

[2015-11-05 20:49] mulhearn commented on #82
@richard-cms is this everything?

[2015-11-05 20:51] harmonicoscillator commented on #82
@mulhearn Those reference all the PRs that are currently made, but we're still missing working O2O for HI.

[2015-11-05 20:51] mulhearn commented on #82
OK, that's somewhat independent of the release, since we can just patch our O2O locally to get us by.

[2015-11-05 20:51] mulhearn commented on #82
But adding to list.

[2015-11-06 13:16] mulhearn commented on #82
@richard-cms looks like the O2O will produce a new record for HI (L1TCaloParamsStage1HIRcd).  We'll need to update our code to use this record instead of L1TCaloParamsRcd when the firmware version is an HI version.

[2015-11-06 14:29] mnorthup6690 commented on #79
Hello Mike. You can find the PR for 80X here cms-sw#12276

[2015-11-10 18:34] mulhearn commented on #82
All Prs are merged into 75X, so closing this issue.

[2015-11-10 18:34] #82 closed

[2015-11-10 18:37] mulhearn commented on #61
Merged in all but 74X, so closing this issue.

[2015-11-10 18:37] #61 closed

[2015-11-12 15:00] mulhearn commented on #77
This was fixed.

[2015-11-12 15:00] #77 closed

[2015-11-12 15:04] mulhearn commented on #65
This one is done.

[2015-11-12 15:04] #65 closed

[2015-11-12 15:05] mulhearn commented on #58
This one is done.

[2015-11-12 15:05] #58 closed

[2015-11-12 15:06] mulhearn commented on #64
Just noting that @jimbrooke has promised to update the online configuration appropriately at his leisure.

[2015-11-12 15:08] mulhearn commented on #55
This PR is merged now, but we'll need to include the L1T O2O modification before moving O2O to 76X or later in 2016.

[2015-11-12 15:11] mulhearn opened #91 "Needed for Nov 15ish Deadline for 2016 Emulation"
We have promised to deliver a working 2016 Emulation by around Nov 15, so that L1 output user code can be modified early in 80X release cycle, and TSG/HLT can perform needed studies.

Rough sketch for now:
 - Standard Sequence Updates including removal of L1Extra (Jim) #94
 - Stage-2 Unpacker Updates (Jim)
 - Menu Building using new L1TNtuple (Chris)
 - Global Trigger Updates (Darren, Brian, Mike)

[2015-11-12 15:24] mulhearn commented on #42
This is all cleared up, except where covered by other issues.

[2015-11-12 15:24] #42 closed

[2015-11-12 15:29] mulhearn opened #92 "Needed for close of 80X - deprecated"
Minutes for joint L1-TSG meeting discussing plan for 80X.  We'll track here all issues stemming from this.

We have most (exception listed below as MISSING) of the code needed
for the Nov 15ish deadline now in hand, and are presently integrating
the various efforts.

--- Specific Projects ---

1) L1TMuon: The full set of emulators for the Muon upgrade (TwinMux,
BMTF, EMTF, OMTF, GMT) are available

[2015-11-12 15:30] #45 closed

[2015-11-12 15:35] #46 closed

[2015-11-12 15:37] mulhearn commented on #49
The only remaining issues are with HI, which is covered in another thread.

[2015-11-12 15:37] #49 closed

[2015-11-12 15:40] #60 closed

[2015-11-12 15:41] mulhearn commented on #62
This was pushed back to 80X.   Closing this issue.

[2015-11-12 15:41] #62 closed

[2015-11-12 16:07] mulhearn opened #93 "First Pass of the Muon Emulator"
Track main issues for the first pass Muon Emulation, available on this topic branch:

   l1t-muon-dev-CMSSW_8_0_0_pre1

Recent emulator meeting minutes with more details here:

   https://hypernews.cern.ch/HyperNews/CMS/get/L1TriggerSW/537.html
   https://hypernews.cern.ch/HyperNews/CMS/get/L1TriggerSW/529/2.html

In particular, the short term TODO list:
 - Mike to propose reworking of MuonTrigger

[2015-11-12 16:07] mulhearn commented on #93
Noting build warning:

[code]

It seems this is due to unneeded things in:

[code]

I'll clean this up after removing the deprecated data objects.

(This is now fixed)

[2015-11-12 19:42] mulhearn opened #94 "Standard Sequences Update"
Jim is largely handling this, I'm just keeping track of a few things here.  Topic branch is here:

https://github.com/cms-l1t-offline/cmssw/blob/l1t-sequences-80X

[2015-11-12 19:43] mulhearn commented on #94
Assuming we want to deprecate this:

   https://github.com/cms-sw/cmssw/blob/CMSSW_8_0_X/Configuration/DataProcessing/python/RecoTLR.py#L77

We should probably blow away any obsolete customizations and see who complains.

[2015-11-12 20:31] mulhearn opened #95 "Remaining issues for 2016 Global Trigger Emulation"
The new UTM library has been integrated with CMSSW since integration build
[code]
An integration branch, only for critical updates, has been created at:
   https://github.com/cms-l1t-offline/cmssw/tree/l1t-global-CMSSW_8_0_X_2016-01-29-2300
It compiles and runs in the L1T standard sequences, and is ready for integration with CMSSW.

A development branch, for ongoing work, has been created at:
   h

[2015-11-12 20:36] puigh commented on #95
The prescales and masks are already implemented in the l1t-global-dev-CMSSW_7_6_0 branch. They are currently read in via a .csv file. @blwiner has implemented code to get trigger names and bits in the same branch.

[2015-11-12 21:01] mulhearn commented on #95
Indeed, I believe this is all done except my part, just dumped the minutes from last Friday without updating the status yet...

[2015-11-13 09:01] jimbrooke commented on #94
One thing to note - the change in standard sequences probably requires a review of EventContent from L1 trigger.  This is partially started in the topic branch.

[2015-11-13 09:29] mulhearn commented on #94
Yes, good.   I'd like to have a simple module that simply text outputs a summary of how many non-zero objects of each type of L1T object is in each event.  You can debug a whole lot this way (or at least see what part of chain is broken) at a glance.

[2015-11-13 15:36] mulhearn commented on #93
Further items for discussion:
- role of L1TMicroGMTCaloInputProducer and GMTInputCaloSumBxCollection
- is there an unpacker planned for GMTInputCaloSumBxCollection?

Answer:   It is emulating actual hardware which will eventually be read out, so a dedicated data format is called for.

[2015-11-13 15:41] mulhearn commented on #93
Review of DataFormats:
- BMTrackCand.h (Delete)
- BMTrackContainer.h (Delete)
- GMTInputCaloSum.h (Keep)
- GMTInternalMuon.h (Move to L1TMuon/src, used internally for calculation)
- MuonCandidateTrack.h (Try Deleting See What Complains)
- MuonInternalTrack.h (Move local L1TMuonEndCap)
- MuonTrackSeed.h (Try Deleting See What Complains)
- MuonTriggerPrimitive.h (Deprecate... but still work needed f

[2015-11-13 15:49] mulhearn commented on #91
@jimbrooke is the stage-2 unpacker update ready for a PR?

[2015-11-13 15:51] mulhearn commented on #95
I've checked there is a Run container in the event data, so our plan to push this to the event data and provide a simple interpreter should work fine...

[2015-11-13 16:16] mulhearn commented on #95
Mike needs to read up and understand latest updates to GtProducerObjectMapRecord... but seems like ready for HLT to test.

[2015-11-14 12:11] jimbrooke commented on #91
There is one feature left to implement and then it is.  (Which is to set output object physical quantities - currently only hardware indices are set).

On 13 Nov 2015, at 15:49, mulhearn <notifications@github.com<mailto:notifications@github.com>> wrote:

@jimbrookehttps://github.com/jimbrooke is the stage-2 unpacker update ready for a PR?

—
Reply to this email directly or view it on GitHubhttps:/

[2015-11-18 13:47] mulhearn commented on #68
The PR with the new HI MC GTs is here:  cms-sw#12474

I'll merge with cms-sw#12366.

[2015-11-18 14:09] harmonicoscillator commented on #68
Great sounds good.

Which release will this end up in, I've started to lose track. 7_5_5_patch4, or a 7_5_6?

[2015-11-18 14:46] mulhearn commented on #68
I guess 7_5_6 is the plan...

[2015-11-18 14:48] mulhearn commented on #68
Combined PR with new GT plus removal of customizations is here:  cms-sw#12475

[2015-11-18 15:02] mulhearn commented on #93
OK, so DataFormats are cleaned up.

[2015-11-18 15:02] mulhearn commented on #93
Now some last minor name changes (DONE) and start integrating!

[2015-11-18 16:41] mulhearn commented on #93
Noting for later, we are missing these guys:
  T_EventSetup_CaloConfig.cc
for the new CondFormats...  will be needed at some point before putting in DB.
Also:
  CondCore/L1TPlugins/src/plugin.cc

[2015-11-18 22:47] mulhearn commented on #93
PR for L1TMuon/data is here:
https://github.com/cms-data/L1Trigger-L1TMuon/pull/1

[2015-11-19 02:59] mulhearn commented on #93
Woo hoo!  I just ran the entire Muon emulation chain, including input from Stage2Layer1 Calo.  I see everyone producing the correct digis:

[code]

[2015-11-19 11:34] mulhearn commented on #93
And the output of the GMT seems reasonable (single Muon particle gun):

INFO:  found muons!
bx:  0  et:  139  eta:  0.793875  phi:  -2.90171
INFO:  found muons!
bx:  0  et:  139.5  eta:  -0.10875  phi:  0.959904
INFO:  found muons!
bx:  0  et:  139.5  eta:  0.50025  phi:  1.82164
INFO:  found muons!
bx:  0  et:  125.5  eta:  -0.06525  phi:  -2.32358
INFO:  found muons!
bx:  0  et:  53.5  eta:  -0.

[2015-11-19 13:43] mulhearn commented on #93
I am beginning the integration of this branch:
https://github.com/cms-l1t-offline/cmssw/tree/l1t-muon-dev-CMSSW_8_0_0_pre1
At this time, the last commit is 36eec540ca465fbc83eac5b6b34acfb8b06b770c.
I am recording this so people can continue to develop on this branch, and I will integrate the changes later.

[2015-11-19 14:03] thomreis commented on #93
Hi Mike,
Is this intended that the Calo2Layer2 label takes a Calo2Layer1 product as input?
https://github.com/cms-l1t-offline/cmssw/commit/edf37b325c437579ce52e51e4bb34bc075600a6a#diff-c960dc028aaf5b29d3c71677ac79582dR6 in L1Trigger/L1TMuon/python/simMuonDigis_cfi.py ?

[2015-11-19 15:14] mulhearn commented on #93
I'll double check.  Based on what I saw, Muon system uses output of Stage2Layer1.

[2015-11-19 15:15] mulhearn commented on #93
(Sometimes it can be ambiguous when systems save inputs and outputs)

[2015-11-19 15:18] mulhearn commented on #94
The topic branch:
  https://github.com/cms-l1t-offline/cmssw/blob/l1t-sequences-80X
is based on nightly "CMSSW_8_0_X_2015-11-10-2300".
Mike will rebase this to a pre release.

[2015-11-20 11:40] mulhearn commented on #93
Noticing we'll probably need to cleanup namespace... there's some very generic terms in global namespace in some of the library.  Seem guaranteed to cause trouble.

[2015-11-20 12:19] jimbrooke commented on #93
Regarding input from calo trigger - both Stage2Layer1 and Stage2Layer2 emulator modules produce the same L1CaloTower data format.  This is intentional code re-use.  Of course, the "correct" source depends on a hardware solution that does not exist right now.  Suggest to use Layer1 output for now.  But take care how this is presented to end-users...

[2015-11-20 15:48] mulhearn opened #100 "Integration of topic branches"
The various topic branches have been combined into an integration branch for 80x
 - https://github.com/cms-l1t-offline/cmssw/tree/l1t-integration-pass4-80x

Meanwhile, we are developing a working recipe for TSG studies here
 - https://github.com/cms-l1t-offline/cmssw/tree/l1t-dev-recipe-CMSSW_7_6_0  (
integration branch synced to 4c2e9344601da1a7be37ac16b89af75ba08c843c)

Active developer branches

[2015-11-20 17:10] mulhearn commented on #100
Noting conflicts from merging stage2 and global dev branches:

[code]

I kept the MuonPacker/MuonUnpacker from muon branch.
I kept the GTSetup/GlobalAlgBlkUnpacker from global branch.
Everything else I used version in Stage-2 branch.

[2015-11-22 10:26] mulhearn commented on #100
L1TMuon/data should already be in an integration build.  L1TCalorimeter/data PR is here:  cms-data/L1Trigger-L1TCalorimeter#5

[2015-11-22 10:39] mulhearn commented on #100
Noting that we should add in cms-sw#12176 as well, which will conflict with stage-2 updates to CaloParams.  OK, this is merged in now, for the record, the conflicts were:

[code]

These were straightforward to fix by simply keeping the stage2 version of new algorithm but adding Alex swapout of CaloParams for CaloParamsHelper, and moving a few new things from Stage2 into the helper class.

[2015-11-22 19:47] mulhearn commented on #100
For future reference, I bet if I had tried

[code]

that would have gone even easier... given @richard-cms's penchant for  whitespace changes ;-)

[2015-11-22 21:28] mulhearn commented on #100
OK, the 80x integration branch is ready.

[2015-11-22 22:08] mulhearn commented on #100
The 76X integration branch is also ready.

[2015-11-22 22:57] mulhearn commented on #100
Looks like something went wrong with the standard sequences integration... missing files.  Erasing history of that commit for now in the integration branches.... Fixed.

[2015-11-23 00:41] mulhearn opened #101 "Develop a Working Recipe for Stage 2 (and Stage 1)"
This issue has been retired.  Please follow up at:

   #147

Developing a recipe for running Stage-2 emulation for menu studies and HLT updates.

The topic branch for this task is here:
https://github.com/cms-l1t-offline/cmssw/tree/l1t-dev-recipe-CMSSW_8_0_0_pre5

The most recent control plots from a small 10k run over zero bias are here:
http://mulhearn.web.cern.ch/mulhearn/plots/recipe_latest/

[2015-11-23 12:39] mulhearn commented on #101
Phew... full chain, into L1TNtuple.  Needs cleanup, but _working_.

[2015-11-23 12:40] mulhearn commented on #101
@apana want to take it from here?

[2015-11-24 10:26] mulhearn commented on #101
Current legacy inputs to the 2016 Muon trigger Emulator:

Barrel:
- DTDigi_Source:  simDtTriggerPrimitiveDigis
- DTThetaDigi:  simDtTriggerPrimitiveDigis
- RPC_Source:  simMuonRPCDigis

End Cap:
- CSCInput: simCscTriggerPrimitiveDigis MPCSORTED

Overlap:
- srcDTPh: simDtTriggerPrimitiveDigis
- srcDTTh: simDtTriggerPrimitiveDigis
- srcCSC: simCscTriggerPrimitiveDigis MPCSORTED
- srcRPC: simMuonRPCD

[2015-11-24 10:31] akalinow commented on #101
The Overlap has more inputs:
- srcDTPh: simDtTriggerPrimitiveDigis
- srcDTTh: simDtTriggerPrimitiveDigis
- srcCSC: simCscTriggerPrimitiveDigis MPCSORTED
- srcRPC: simMuonRPCDigis

[2015-11-24 10:52] mulhearn commented on #101
Thanks!

[2015-11-24 10:56] mulhearn commented on #101
Noting some questions for later:
- Technical triggers in Stage-1/Stage-2
- FWOverride parameter
- Role for CaloConfig in Stage-2
- Role for l1CaloScales in Stage-2
- Significance of preGtJets in Stage-1

[2015-11-24 13:24] thomreis commented on #93
I have tried to run the muon emulator chain of the l1t-muon-CMSSW_8_0_0_pre1 branch using the runMuon.py config file.
This finishes without problems and produces all the data objects I expect.

However, the EMTF RegionalMuonCandBxCollection that I get does not contain any muons.
I have processed 50 events from Giannis' file to test and there are only muons from OMTF and BMTF.

The input collection

[2015-11-24 13:59] mrcarver commented on #93
Hi Thomas,

Not to ask a stupid question, but have you made sure that the input file has gen muons with eta > 1.2? If the file was from Giannis and for the barrel this may not be the case.

I will also try to run with another file to see if I can produce a positive result from the EMTF.

Thanks,
Matt

[2015-11-24 14:04] gflouris commented on #93
Hi guys,

Matt is right, all of my root files contain muons with eta<1. You can use the ParticleGunGenerator_Muon.py file which is located in the same directory as the root file to generate a sample with different eta.

Giannis

[2015-11-24 14:06] thomreis commented on #93
OK, then I will try with a different file. So when I saw inputs from CSC they must have been in the overlap region.

Perhaps we should use a different test file by default.

[2015-11-24 14:09] mrcarver commented on #93
Also for future reference I've been able to run the EMTF on Run2015D data with a few modification to config file and can send an email with the details if anyone is interested.

[2015-11-24 16:04] thomreis commented on #93
I would be interested in this yes.

[2015-11-24 16:19] mulhearn commented on #93
Yes, that was bare bones test of throughput.  (Improvements welcome, even simply a starting file that has muons out to higher eta)

[2015-11-24 16:59] mulhearn commented on #101
Completed a successful cleanup of SimL1Emulation.  Now it properly uses Eras to smoothly transition between the Legacy/2015/2016 trigger configurations.  Each major system (Muon/Calo/Global) has a simDigi_cff.py config which handles the entire subsystem.  Conditions are loaded via hackConditions.py for each major system, to load any needed conditions not yet in GT for that era.

Here's some sample

[2015-11-25 02:50] mulhearn commented on #101
Cleanup of RawToDigi and DigiToRaw, nearly complete.  Using standard sequences for Stage-1, here is output of emulation compared to packed-then-unpacked version.

from emulation directly:

[code]

packed-unpacked:

[code]

[2015-11-25 03:08] mulhearn commented on #101
Using standard sequences, new GMT muon unpacker seems to be working as well.

from emulator:

[code]

after packing/unpacking:

[code]

[2015-11-25 03:11] mulhearn commented on #101
However (1) Stage-2 Calo unpacker (or packer) (or both) not yet working in standard sequence.  Also, something is odd with the rawDataCollector, so for now I am specifying the records directly, e.g.

[code]

but clearly this needs a fix too.

UPDATE:  This one fixed thanks to Jim noticing missing rawDataCollector config changes during migration of our customizations to local L1TDigiToRaw_cff.

[2015-11-25 03:18] mulhearn commented on #101
Error message when unpacking Stage-2:

[code]

This one is likely OK, as this FED is not filled by packer (only available from data).  We will have a mode to quiet these errors but ignoring for now is fine.  Jim investigating the empty caloStage2Digis collections after unpacking.

[2015-11-25 16:44] mulhearn commented on #101
Noting for later fix that the simDigis names I picked are inconsistent with the unpacker/packer digis names.  I'll make them consistent later...  Fixed, our digis are now called:

[code]

[2015-11-25 17:53] jimbrooke commented on #101
Missing calo objects in L1Trigger/L1TCommon/test/runStandardSequences.py were due to out of date raw format definition in calo stage 2 digi2raw.  I have pushed a fix for this to l1t-dev-recipe-CMSSW_7_6_0

[2015-11-25 19:01] mulhearn commented on #101
Super!

[2015-11-26 01:54] mulhearn commented on #101
Almost there...  L1Emulation, RawToDigi, DigiToRaw are now all working in the standard sequences.  It is all Era driven, for Legacy/Stage1/Stage2 (though only Gmt and Layer2 are included in DigiToRaw for Stage 2 at the moment).  I've added a config for ReEmulation of L1T from RAW, but it requires more debugging.  Once working, its probably best to recast it as a customization, as expected for use

[2015-11-29 22:59] mulhearn commented on #101
For Calo sequence, L1T re-emulation from RAW is working:

[code]

Looking into muons, and need to quiet some errors.

[2015-11-30 00:09] mulhearn commented on #101
Muons are fine too:

[code]

[2015-12-03 20:18] mulhearn commented on #101
I just confirmed that there have been updates to Stage-2 calo emulator since #100. I simply need to update the integration branches and the dev-recipe branch to include these.  Will do this later tonight...
(DONE)

[2015-12-03 23:28] mulhearn commented on #91
As we now have a working recipe, considering this one closed.

[2015-12-03 23:28] #91 closed

[2015-12-03 23:30] mulhearn commented on #101
Leaving this one open until we see some decent results from Mario and Len using the recipe...

[2015-12-03 23:36] mulhearn commented on #94
This one is finished.

[2015-12-03 23:36] #94 closed

[2015-12-03 23:42] mulhearn commented on #93
The first pass muon emulator is in the integration branch, this one is closed.

[2015-12-03 23:42] #93 closed

[2015-12-03 23:46] mulhearn opened #102 "Upgrade Muon TF Unpackers"
The BMTF unpacker is available but not yet in standard sequences.
The OMTF and EMTF unpackers are not yet available.

[2015-12-03 23:54] mulhearn opened #103 "HLT/L1T Interface Update"
We are deprecating L1Extra for Stage-2.  This requires updates to the HLT/L1T interface.

[2015-12-03 23:55] mulhearn commented on #103
Martin points me to the main HLT code needing an update:

   https://github.com/cms-l1t-offline/cmssw/blob/l1t-integration-pass3-80x/HLTrigger/HLTfilters/src/HLTLevel1GTSeed.cc

[2015-12-11 16:28] mulhearn commented on #103
Just merged the packer/unpacker code from GT into the dev recipe branch and it seems to work.  So ready to update L1Repack.

Also started updating the HLT filter which selects the seeds which fired specified L1 triggers.  Decided that for pass1 the updated module will simply provide _all_ the L1 trigger seeds without selecting based on what trigger was passed.  Then, once we have the replacement f

[2015-12-14 17:16] mulhearn opened #104 "Remove RCT hardcoding from HI customizations"
Tracking these PRs:

https://github.com/cms-sw/cmssw/pull/12781 (merged)
https://github.com/cms-sw/cmssw/pull/12782 (rejected)

[2015-12-14 18:12] mulhearn commented on #103
I have a new HLT filter for HLTL1TSeed to replace HLTLevel1GTSeed.  At the moment it still doesn't do much except not die.  This lets me see what else is downstream that depends on l1extra.  The list is fortunately not as long as I feared:

[code]

also I simply removed for now the "HLTLevel1Activity.cc" module.

With all of these modules crippled to stop consuming l1extra and output empty collect

[2015-12-15 11:42] mulhearn commented on #103
Oooof... I hope this is close to bottoming out:  I still keep finding more changes needed.  It seems we haven't hooked up BxVector to work with edm::Ref yet.  This functionality is definitely needed to play nice with HLT.

[2015-12-15 20:33] mulhearn commented on #100
Noting this PR which should be merged into integration branch too:
https://github.com/cms-l1t-offline/cmssw/pull/105

[2015-12-15 22:08] mulhearn commented on #103
BxVector is fixed to work with edm::Ref now...

[2015-12-16 13:34] mulhearn opened #106 "Reports of strange eta distributions for e-gamma and jets"
Simone Genai writes:
[code]

[2015-12-16 13:36] mulhearn commented on #106
Would be helpful to know which samples you ran over.  I'll try to reproduce the problem and hand it off to the Stage-1 calo experts.

[2015-12-16 13:40] gennai commented on #106
I have just run the script L1TCommon/test/runL1TReEmulateFromRAW.py
with the inputFile as it is in git:
fileNames = cms.untracked.vstring('/store/data/Run2015B/DoubleMuon/RAW/v1/000/251/251/00000/9C66B64C-CA25-E511-818A-02163E0140E1.root',
        '/store/data/Run2015B/DoubleMuon/RAW/v1/000/251/251/00000/DA60E454-CA25-E511-BFF0-02163E01207C.root'),
    lumisToProcess = cms.untracked.VLuminosityBlo

[2015-12-16 13:53] mulhearn commented on #106
@gennai:  That might be the problem.  The Calo config comes from the GT, so perhaps you are getting the wrong payload for the re-emulation.  I guess when re-emulating we should override these specific payloads appropriately, and use the data tag, but for a quick test maybe just try running with the MC GT and ignoring the errors from the TP generation?

[2015-12-16 14:03] gennai commented on #106
It is a bit counterintuitive to me, but I can surely believe you (and going to check it now :-)

Could you please send the list of needed tags fom the MC GT (we may think of adding them by hand on top of the Data GT).

Best,
S.

[2015-12-16 14:13] mulhearn commented on #106
Yeah, will do, this requires a bit of thought...

[2015-12-16 15:12] gennai commented on #106
So I have re-run again both Stage-1 and Stage-2 emulators, on the same data file and with both options data and MC GlobalTag.
Stage-2 distributions look reasonable for either MC or Data GT (no big differences by eyes can be seen, more details will need further coding on my side)
_Stage-1_ distributions look weird with asymmetries in Eta and Phi with both MC and Data GT.
This is the configuration I

[2015-12-17 09:29] mulhearn commented on #106
That configuration looks correct to me.  I'll have to look closer...

[2015-12-17 09:46] mulhearn commented on #106
Seems most like that something isn't right about the conditions.  Let me play around a bit.

[2015-12-17 10:54] mulhearn commented on #106
Conditions look OK...  Now thinking this is a problem with our ntupler when using the Stage-1 calo inputs... looking.

[2015-12-17 12:21] mulhearn commented on #106
These look fine to me as long as I require Et>0 for the objects.  Do you apply such a cut?

(Maybe we should do this in ntuple to avoid future confusion.)

[2015-12-17 12:22] mulhearn commented on #106
There might still be some tau's missing from the Stage-1 ntuple.

[2015-12-17 12:26] gennai commented on #106
I did NOT, in the past only ?Jet/Tau objects above 10 GeV were saved (if I am not wrong).

Could you add a minimal cut at the ntuple level?
BTW, is this feature also present in stage-2 ntuple (no low pT cut applied?)

Best,
S
Il giorno 17 dic 2015, alle ore 13:21, mulhearn <notifications@github.com<mailto:notifications@github.com>> ha scritto:

These look fine to me as long as I require Et>0 for t

[2015-12-17 12:38] mulhearn commented on #106
Thanks for the testing cycles.  I'm about to push a new version with cut on pt>0 and warning about the GT in the config file.

[2015-12-17 12:39] mulhearn commented on #106
(Also handles stage1 ntuple automatically when you change era)

[2015-12-17 12:43] mulhearn commented on #106
This one is closed now, but I'll follow up on the remaining issues uncovered on this thread:

   https://github.com/cms-l1t-offline/cmssw/issues/101

[2015-12-17 12:43] #106 closed

[2015-12-17 12:46] mulhearn commented on #101
Some more issues to consider (expanding scope of issue to include Stage-1):
- for re-Emulation sequence on data, should use a data GT plus specific L1T emulator overrides (at moment use MC GT and ignore complaints from DT TP)
- I think the Ntuple software has to be updated to collect multiple inputs for Taus (rlx + iso) in Stage-1.  These should probably just be vectors of input tags in the config

[2015-12-17 14:14] mulhearn opened #108 "Update L1T Emulation to use 1x1 TPs"
With new full granularity TPs now available from HF, we need to adopt our code to use them.

[2015-12-17 14:16] mulhearn opened #109 "Documentation for TSG analyzers"
The TSG has requested that we provide:
 - algorithm expert contact at object level (Tau/Jet/Egamma/Sum/Muon)
 - details on current algorithm working point
 - details on how to change working point for studies
 - for changes requiring new LUTs, a variety of LUTs.

[2015-12-21 17:00] mulhearn commented on #101
@gennai the example code has been updated to show how to access all physics quantities from ntuple.  Apologies to all that a late night commit error left recipe out of sync with the branch... now fixed.

[2015-12-21 17:03] mulhearn commented on #101
I've added a fictitious muon quality adjuster to the chain which puts the quality flags from each TF on a consistent setting (for now only 0=bad 1=good) so these may now be selected consistently in ntuple.  Obviously more turning will be needed but this already knocks rate down to something comparable with stage1 muon rate.

[2015-12-21 17:05] mulhearn commented on #101
@jimbrooke et all are investigating incorrect phi distribution for Taus, as well as comparison of sums from latest recipe to what was presented at TSG.  Remaining calo objects all look in reasonable agreement with what was shown.

[2016-01-04 14:02] mulhearn commented on #101
Latests update to the recipe branch includes fixes for Tau phi distribution and new electron isolation LUT.

[2016-01-05 13:25] mulhearn commented on #101
Latest update includes new Tau LUTs.

[2016-01-05 14:41] mulhearn commented on #100
Because of the many updates in the dev recipe branch, was easiest to make new integration branches.  The 76x version is done and fully up to date with dev recipe branch, but the 80X branch is still in works.

[2016-01-05 16:27] jimbrooke commented on #101
Just for clarity, this updates the tau calibration LUTs, not isolation

On 5 Jan 2016, at 13:25, mulhearn <notifications@github.com<mailto:notifications@github.com>> wrote:

Latest update includes new Tau LUTs.

[2016-01-05 17:40] mulhearn commented on #100
The 80x integration branch is core dumping when I run our unit tests... investigating.  It also missed the L1Trigger/HardwareValidation package.  Need to talk to consumers of this one....

[2016-01-05 17:45] gennai commented on #101
Hi Jim,
just for my curiosity, is there anybody studying how to sort isolated and not isolated taus in the same collection?

Best,
S.

[2016-01-05 21:15] mulhearn commented on #100
OK, 80x integration branch is now working.  Only thing missing wrt 76x is the updates related to L1Trigger/HardwareValidation.  Investigating those now.

[2016-01-06 11:00] mulhearn commented on #101
@gflouris check here for recipe.

[2016-01-06 14:51] davignon commented on #101
Dear Simone, all,

Looking at data RunD (in the muTau skims), most of the events (~94%) have nTaus < 12 (12 is the maximum number of L1 taus stored).
Among the events with 12 taus, less than 1‰ of the lowest pT taus have pT>20 GeV (they have mean pT ~ 6-7 GeV).

Looking at minimum bias data (run 260227), there is only 0.1‰ events with 12 L1 taus.
Among them, none of the lowest pT taus have pT>20 G

[2016-01-06 14:59] jimbrooke commented on #101
Gentlemen - github is not the place for this discussion.

[2016-01-06 15:42] mulhearn commented on #101
Why?  It is on topic, no?

[2016-01-06 16:08] jimbrooke commented on #101
Well I thought the topic was about making the emulator recipe work.  Not about what algorithms we put in the firmware, which is a trade-off between physics and FPGA resources.  Most of the experts don't have github accounts anyway, so any attempt to debate the algorithm choices here will be incomplete.

[2016-01-06 19:21] gennai commented on #101
Hi,
I agree with Jim, I am sorry to have started the thread with my question. A positive/negative answer would have worked.
I will forward the answer to the L1 experts hn.

Best,
S.
Il giorno 06 gen 2016, alle ore 17:08, Jim B <notifications@github.com<mailto:notifications@github.com>> ha scritto:

Well I thought the topic was about making the emulator recipe work. Not about what algorithms we put

[2016-01-08 13:25] mulhearn commented on #103
@rekovic this should be a good start, I'll start a topic branch that includes my recent progress.

[2016-01-08 13:31] rekovic commented on #103
@mulhearn Lets do it.

[2016-01-12 12:48] mulhearn commented on #103
I got a bunch of core dumps while debugging this... I changed all the build files which I don't want to push  but I think the correct recipe to  just do this centrally is to edit the file:

[code]

to include:

[code]

and this option will applied globally to all checked out packages.

[2016-01-12 12:52] mulhearn commented on #103
I believe one of the problem spots is here:

[code]

which I started but didn't finish debugging:

[code]

[2016-01-12 13:02] mulhearn commented on #103
Leaving out of branch some changes I made to these files, where were just to shut them up by commenting out everything...

[code]

[2016-01-12 13:57] mulhearn commented on #103
The initial comment on this githup issue has been updated to include the recipe for compiling and running the new topic branch, and summary of status.

[2016-01-12 23:56] mulhearn opened #111 "Develop XML parser for use with L1Trigger LUT class"
If this class:

https://github.com/cms-l1t-offline/cmssw/blob/l1t-integration-pass3-80x/CondFormats/L1TObjects/interface/LUT.h

had a corresponding XML parsing tool, it would likely be widely used.

[2016-01-12 23:56] mulhearn commented on #111
@dburns7 has agreed to lead this effort.

[2016-01-13 13:43] mulhearn commented on #101
Note that eventually need to cherry pick this guy:
   https://github.com/cms-sw/cmssw/commit/cd4b9d5543da3017531526b42c0f908a6eff7b65
which seems to have been blown away in dev recipe branch. (DONE!)

[2016-01-14 13:44] thomreis commented on #101
@mulhearn : This PR https://github.com/cms-l1t-offline/cmssw/pull/112 includes the uGMT track based cancel out for the barrel muons and some fixes for the LUTs and the hwCharge in the unpacker.
Also this commit https://github.com/cms-l1t-offline/cmssw/commit/1b8f93fe470712bc11831f7c74ecf21c0039a821 , which fixes the hwCharge assignment in the BMTF emulator should be included.

[2016-01-15 08:03] rekovic commented on #103
In DataFormats/HLTReco/interface/TriggerRefsCollections.h
there is only one method that adds l1t:: objects.

[code]

Need to add methods for l1t::Egamma, l1t::Jet, l1t::Tau, l1t::EtSum
Is this the whole list of l1t objects?

[2016-01-15 19:43] mulhearn commented on #103
That'll do it!

[2016-01-18 18:03] rekovic commented on #103
Made changes to extend functionality.  Apart from l1t::Muon, we now have:
EGamma,
Jet,
Tau,
EtSum.

When putting above l1t candidates for HLT seeds, I used the existing HLT trigger types respectively:
TriggerL1NoIsoEG,
TriggerL1CenJet,
TriggerL1TauJet,
TriggerL1ETT.

// Example For EGamma
filterproduct.addObject(trigger::TriggerL1NoIsoEG, myref); // Temp just use NoIsoEG

Not sure if this OK.  Nee

[2016-01-19 17:47] jimbrooke commented on #101
These commits add offline reco vertex info to the ntuples
https://github.com/cms-l1t-offline/cmssw/commit/b2e40ceb09a8f8f6f619a7cb899b88449136b4dc
https://github.com/cms-l1t-offline/cmssw/commit/d043d2adc51a5e0816f5605e9533392c298ed56e

They're not yet on the dev recipe branch, I leave that to Mike if he agrees.

To use, add L1Trigger.L1TNtuples.l1RecoTree_cfi to your path

[2016-01-20 08:04] akalinow commented on #101
Bug similar to one in BMTF was found also in OMTF. Here is a commit d18579d02b4b578501930b608f86c5801e2042e2 that fixes charge and pt codes assignment.

[2016-01-21 08:59] mulhearn opened #116 "Fix crashes when reEmulating over MC since latest updates."
Thomas writes:
[code]
Very good, but then still need to track down this:
[code]

[2016-01-21 09:06] mulhearn opened #117 "Fix Standard Sequences for CaloStage2 tests."
There are some problems with top-level configs since the re-factorization  of L1 standard sequences to use Eras.  Need to fix this so Jim et al can get on with their tests.

[2016-01-21 09:26] mulhearn commented on #71
Some updates on this one.  There is a commit here:

   https://github.com/cms-l1t-offline/cmssw/commit/08b95b5acd59968791cc57200252d0086e2025d0

that adds new CondFormat classes extracted from UTM library.

[2016-01-21 09:27] mulhearn commented on #71
Brian updates the plan:

[code]

[2016-01-21 09:28] mulhearn commented on #71
Instructions for cherry-picking my commit:

[code]

[2016-01-21 09:35] mulhearn commented on #71
Most urgently needed from mike are:
- request inclusion of the candidate /afs/cern.ch/user/t/tmatsush/public/utm-r41543-xsd310-patch.tgz after it passes more tests
- update my commit with derived CondFormat classes to sync with above
- provide 1/2 of the ES producer (the (empty) native UTM -> CondFormat part)
- move the global dev branch to the latest pre-release of CMSSW 80x.

[2016-01-21 09:46] mulhearn commented on #101
Noting also that I still need to update the demo code to check the proper sum type.  There's a back log of minor issues (see previous 5 comments) that I will get to today.

[2016-01-21 09:47] mulhearn opened #118 "Add MC information to L1TNtuple"
A reminder from Pierluigi that it would be useful to add some MC info to standard support for L1TNtuple.

[2016-01-21 10:08] mulhearn commented on #103
Andrea provides a useful set of questions to help organize this effort:

[code]

[2016-01-21 10:11] mulhearn commented on #103
Please see also cms-sw#12994 for commit 78550a4d724115b5120b606cabc860fff7c6c42d and e8d283c53cf576e02638efd5fa1c98bfd1f1ecd3 which provide the new HLT enums.

[2016-01-21 10:25] mulhearn commented on #103
Answer to Andrea point 4 is we definitely will provide a module that replaces L1ExtraProducer with something that outputs Legacy/Stage-1 output in the upgrade formats.

[2016-01-21 10:47] mulhearn commented on #101
Noting also that I believe I can fix a bunch of Olivier's problems with Stage-1 Taus if I fix the bug in the Ntuple code which only takes non-isolated Taus...

-Mike

[2016-01-21 10:54] jimbrooke commented on #101
@mulhearn if you change the ntuple code to address this ‘bug', can you just (optionally) read a second EDM collection, rather than introduce a second tau branch?  (I had hoped the stage 1 bricolage would not pollute the stage 2 code…)

[2016-01-21 10:57] mulhearn commented on #101
@jimbrooke, indeed, my plan for the fix is simply to take vectors of inputs for each (single) output collection.  That's works for you right?

[2016-01-21 10:58] mulhearn commented on #101
@jimbrooke, Olivier also noted a factor of 4 difference in physical Tau ETs.  Any idea what is going on there?  Maybe a neglected scale in stage-1?

[2016-01-21 10:58] jimbrooke commented on #101
@mulhearn yep, that’s fine with me

[2016-01-21 11:27] jimbrooke commented on #101
@mulhearn this problem is with stage 1 in L1UpgradeTree format?  I don’t know where that is done. (L1T/L1TNtuples only contains configs for stage 1 in L1ExtraTree format).  There is no scale conversion done in the ntupliser, so either Olivier is looking at the wrong thing (tauIEt instead of tauEt ?) or the scale of the l1t::Tau is wrong (ie. problem in stage 1 module).

On 21 Jan 2016, at 10:58, m

[2016-01-21 11:28] jimbrooke commented on #101
@mulhearn PS - stage 2 tau scale is 0.5 GeV LSB, stage 1 scale is (I believe) 4 GeV LSB.  Stage 1 in principle should use the L1CaloEtScale.  Stage 2 scale is in CaloParams.

On 21 Jan 2016, at 11:26, Jim Brooke <Jim.Brooke@cern.ch<mailto:Jim.Brooke@cern.ch>> wrote:

@mulhearn this problem is with stage 1 in L1UpgradeTree format?  I don’t know where that is done. (L1T/L1TNtuples only contains conf

[2016-01-21 11:49] davignon commented on #101
Hi all,

My (trivial) question rather was:
« In Stage-1, the tauEt branch is exactly equal to 4 times the tauIEt one. Is tauEt the ‘true' physical value to be used? »

You answered it by saying this is expected and that tauEt is indeed the ‘true’ physical value in GeV, while tauIEt is in units of 4 GeV.

Cheers,
- Olivier

Le 21 janv. 2016 à 12:28, Jim B notifications@github.com a écrit :

[2016-01-21 12:10] mulhearn commented on #103
Q:  summarise the changes to the L1 software with respect to Legacy / Stage 1

**Emulator Changes**

Almost the entire L1T emulation sequence has been replaced for
Stage-2.  I'll restrict most of my answer to the changes effecting
consumers of L1 output, but the full details of which modules are
running in the Stage-2 vs Stage-1 vs legacy are contained in the new
era-driven configuration of the L1

[2016-01-21 12:39] jimbrooke opened #119 "L1EventTreeProducer"
@mulhearn I see this module is used in reEmul.py.  The C++ appears to be in L1Trigger/L1TNtuples, but there is no _cfi.py and it's not integrated in the ntuple sequences (eg. L1NtupleRAW_cff.py).  It is redundant with part of L1Trigger/L1TNtuples/python/l1Tree_cfi.py.  What is the plan?

[2016-01-21 12:39] thomreis commented on #116
The input file where I noticed it is:
root://xrootd.unl.edu//store/mc/Fall13dr/Neutrino_Pt-2to20_gun/GEN-SIM-RAW/tsg_PU20bx25_POSTLS162_V2-v1/00000/00276D94-AA88-E311-9C90-0025905A6060.root

The segfault occured somewhere between event 350 and 400 if I remember correctly.

[2016-01-21 12:39] jimbrooke commented on #119
Incidentally, this appears to be useful - I just don't know why it is not finished.

[2016-01-21 12:48] jimbrooke commented on #119
Also, if many people are developing this package we need a plan.  Uncoordinated changes in ~2011 made this package completely unusable.  Now I've gone to some length to clean it up, and I've been committing changes at will because it seemed like no-one else was working on it.  If other people are now actively developing I need to know who, so I can discuss the (many) changes I have planned.

[2016-01-21 13:12] mulhearn commented on #103
Q:  identify all CMSSW modules used at HLT that need to be updated

**Scale of Problem**

Ooof.  I'm not sure I can give a complete answer, since I only know
what currently breaks.  I'm not entirely sure what else will break
once these are all fixed, or which modules are suffering in silence.

However, I did do a simple test where I quieted all modules in
standard HLT sequence that complained, aft

[2016-01-21 13:17] jimbrooke opened #120 "L1TCalorimeter does not compile with debug messages enabled"
@mulhearn Compiling with debug message enabled
scram b -j8 USER_CXXFLAGS="-DEDM_ML_DEBUG"

Results in multiple errors related to CaloParamsHelper, first one below.  I am working around by temporarily changing some LogDebug messages to std::cout

In file included from /afs/cern.ch/cms/sw/ReleaseCandidates/vol0/slc6_amd64_gcc530/cms/cmssw-patch/CMSSW_8_0_X_2016-01-20-2300/src/FWCore/MessageLogger/in

[2016-01-21 13:17] mulhearn commented on #103
Q: identify all other CMSSW modules NOT used at HLT that need to be updated, rewritten, or replaced with new modules

I guess the main one here is the replacement for L1GtUtils which has widespread use in CMSSW.  Not sure yet what else remains on this list.  We'll see which workflows downstream of HLT break once we have that working.

Q: identify the dependencies and priorities for the changes

Pu

[2016-01-21 13:22] mulhearn commented on #103
Q:  Legacy vs. Stage 2 software

One last thing to consider is how the HLT modules should deal with the Legacy/Stage 1 vs. the Stage 2 software, as in principle, we may need to be able to run both in parallel.
Possible ideas:
- we could have two copies of th HLT modules (for example via template specialisations) to deal with Legacy vs  Stage 2
- we could foresee a way to translate the Legacy objec

[2016-01-21 13:24] mulhearn commented on #120
Sorry about this.  Will clearly require a proper fix.  For urgent fix we can just comment out the problematic lines.

[2016-01-21 13:29] mulhearn commented on #119
It seems this was added by Len at the request of consumers of reEmul.py and the worked stopped there.

I think the main consumers are currently L1 DPG plus Simone.

[2016-01-21 13:51] jimbrooke commented on #119
@mulhearn OK.  Well I can fix up the missing config snippets for this producer.  But I don’t know how we prevent divergence in future...

[2016-01-21 14:26] rekovic commented on #103
Need to check functionality of TriggerReportSummary, as suggested by Martin G.

[2016-01-21 14:34] mulhearn commented on #119
Well, some pain is unavoidable, but if I change e.g. reEmul.py to call the ntuple cfi directly it might minimize it.

[2016-01-21 14:40] Martin-Grunewald commented on #103
Hi,

I meant the trigger summary producers (which also pack up the L1 collections, and "passing object" indices per L1GTseed filter):
https://github.com/cms-sw/cmssw/blob/CMSSW_8_0_X/HLTrigger/HLTcore/interface/TriggerSummaryProducerAOD.h
https://github.com/cms-sw/cmssw/blob/CMSSW_8_0_X/HLTrigger/HLTcore/plugins/TriggerSummaryProducerAOD.cc
and
https://github.com/cms-sw/cmssw/blob/CMSSW_8_0_X/HLTr

[2016-01-22 09:36] mulhearn opened #121 "Understand Issues Related to Legacy DTTF Trigger Primitive Re-Emulation"
Place holder for now....

[2016-01-22 09:54] mulhearn commented on #121
We are having trouble using the legacy re-Emulation of DTTF as the initial stage in the BMTF emulation.  The work-around we are using at the moment is to use the unpacked DTTF data instead:

3898f5391082f10a36f0c13d6ff16eb063502019

But this will no longer work when DTTF payload is no longer in RAW data.  Fix is in the works.

[2016-01-22 09:55] mulhearn commented on #121
Related:  Giannis is working on removing the sector collector code from legacy DTTF emulator, as this is no longer present in the actual hardware since the commissioning of the TwinMux.

[2016-01-22 10:00] mulhearn commented on #121
Note also that before the work-around, the BMTF was only producing candidates from RPC input and so had low efficiency.  The observed "increase" in rate from BMTF from TSG is almost certainly simply the expected effect of this fix.

[2016-01-22 11:58] mulhearn opened #122 "Add 1x1 HF TPs to both stand-in Layer-1 emulator and bitwise Layer-1 emulator"
Now that HCAL has provided emulation of 1x1 HF TPs, work is underway to update both the stand-in Layer-1 emulator (Jim) and the bitwise Layer-1 emulator (Bhawna).

[2016-01-22 12:08] mulhearn commented on #122
Relevant hypernews discussion here:

  https://hypernews.cern.ch/HyperNews/CMS/get/L1TriggerSW/564.html

Jim is working on this branch:

 https://github.com/cms-l1t-offline/cmssw/commits/l1t-calostage2-CMSSW_8_0_0_pre4

In particular this commit for adding 1x1's demonstrates access to 1x1 TPs:

  https://github.com/cms-l1t-offline/cmssw/commit/6a67e92f83783dd5734224acf9ffc6c74d180217

[2016-01-22 12:11] mulhearn commented on #122
I believe the latest work of Layer-1 beam (Bhawna) is here:

https://github.com/cms-l1t-offline/cmssw/tree/l1t-stage2layer1-emulator-CMSSW_8_0_0_pre1
https://github.com/cms-l1t-offline/cmssw/tree/l1t-stage2layer1-CMSSW_8_0_0_pre1

[2016-01-22 12:18] mulhearn opened #123 "Request for extensions to L1TNtuple"
We can track requests for needed items in L1TNtuple here.

Thomas requests additional features to L1TNtuple for uGMT studies.

[code]

[2016-01-22 16:42] mulhearn commented on #123
@jimbrooke have a look at this place.

[2016-01-22 16:43] mulhearn commented on #123
@apana have a look too.

[2016-01-22 17:03] mulhearn commented on #121
@thomreis note this.

[2016-01-22 19:00] mulhearn commented on #71
OK, I moved jan dev branch into 80X_pre4, compiled with latest UTM, and included my PR that includes the scripts and new UTM objects.  I then re-ran my script to update the definition to sync with the latest library.  As expected, only change was related to new number of modules feature:

[code]

[2016-01-22 19:02] mulhearn commented on #71
I have not migrated any of the changes to EventFilter/L1TRawToDigi that were in the jan-dev branch into the new working branch.  There were tons of conflicts, and after using integration branch version for all conflicts, the only change remaining was to add a "GT" to the output label.  We can revisit this later, the commit (suitable for cherry-picking) that contains the entire update to EventFilte

[2016-01-22 19:10] mulhearn commented on #71
The new development branch for global (which is now fully up-to date with 80x integration branch) is here:
https://github.com/cms-l1t-offline/cmssw/tree/l1t-global-jan-dev-CMSSW_8_0_0_pre4

[2016-01-22 19:10] mulhearn commented on #71
@puigh @blwiner you are good to go.

[2016-01-22 19:15] mulhearn commented on #71
I've only tested that it compile, please sniff around for problems.

Please see if there's anything missing from the unpacker too.  We can recover it from a64469d if necessary.

I still owe you 1/2 of the ESProducer, but you should feel free to try and make one on your own in case I stall out.  A good example is this one:

https://github.com/cms-l1t-offline/cmssw/blob/l1t-integration-pass3-80x/L1T

[2016-01-22 19:16] mulhearn commented on #71
Another quick test would be to run sizeof() over the native utm and corresponding L1TUTM classes, since our plan is to simply cast one as the other, they had better have the same size...

[2016-01-23 23:24] mulhearn commented on #71
Oh, it seems I didn't change the #ifndef protection to have a new name for the new classes, which obviously causes problems...  fixing.

[2016-01-24 00:45] mulhearn commented on #71
OK, apart from that seems to have dropped right in like we hoped...  I was actually able to write what I hope is most of the ESProducer, thanks to Takashi's demo.  The ESProducer currently parses the demo utm.xml file to make a fake TriggerMenu and puts that into the event setup.  Here's a dump of the Event Setup showing it made it there:

[code]

I'd like to see that we can retrieve it and read i

[2016-01-24 02:21] mulhearn commented on #71
Looks good.  Here's the output after writing to EventSetup, reading from EventSetup, and dumping to screen:

[code]

diff'ing with the original test program output shows its identical.

[2016-01-24 02:22] mulhearn commented on #71
The new plugins are here:

[code]

[2016-01-24 02:53] mulhearn commented on #108
Duplicate

[2016-01-24 02:53] #108 closed

[2016-01-25 08:09] mulhearn opened #124 "Minor Fixes for L1 HI ETT algorithm in Stage-1"
Some fixes from Alex are here:
 - cms-sw#13049 - MERGED
 - cms-sw#13048 - MERGED

[2016-01-25 08:43] mulhearn commented on #79
Grrrr, it looks like this didn't make it into 80X yet, and now that branch doesn't merge.

We should get this in for close of 80X next week.

It looks like this got hung up over an unneeded ROOT include header.  What a nightmare!

@mnorthup6690 if you don't know how to rebase (again!) this branch cms-l1t-offline:pr-update-fg-bit-80x then I will do it.

[2016-01-25 08:48] mulhearn commented on #92
This is still pertinent, but not under needed for 80x header...

[2016-01-25 08:48] #92 closed

[2016-01-25 08:53] mulhearn opened #125 "Needed for Close of 80X"
This super issue tracks the items needed for close of 80X.

The minutes from related discussion of L1T/TSG is here:
https://github.com/cms-l1t-offline/cmssw/issues/92

*Minor clean-up items:*
- https://github.com/cms-l1t-offline/cmssw/issues/79
- https://github.com/cms-l1t-offline/cmssw/issues/124

[2016-01-25 12:00] mulhearn commented on #121
@gflouris needed by Carlo:
1) A working configuration for the reEmulation (for comparison, if it exists)
2) Confirmation that TwinMux inputs are written and unpacked... otherwise bitwise re-Emulation won't be possible.

[2016-01-25 13:21] mulhearn commented on #102
@jpazzini does the TwinMux unpacker include the inputs to TwinMux?

Also, you've been added to the cms-l1t-offline organization... for now can you just put your code in its own dedicated branch like this:

[code]

[2016-01-25 14:21] thomreis opened #126 "Change of BMTF track address enum in RegionalMuonCand"
The wheel number of the BMTF track address is composed of a sign bit and a two bit label giving the absolute wheel number (starting from 0). This is currently not reflected in the data format of the RegionalMuonCand since +0 and -0 can not be separated.
To accommodate the full wheel encoding we will replace the enum value bmtfAddress::kWheel with the two values bmtfAddress::kWheelSide and bmtfAddr

[2016-01-25 15:01] mulhearn commented on #71
Takashi writes:

[code]

[2016-01-25 15:24] tmatsush commented on #71
The gzip'ed tarball (utm-r41543-xsd310-patch.tgz) has been attached to the following twiki page;
  https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideL1TGlobal

[2016-01-25 15:34] mulhearn commented on #71
Request to David sent.  We'll at least discuss this tomorrow as part of a general discussion of L1T schedule for 80x.

One more test I'd like to do ASAP is to actually write/read-back to/from an sql-lite file.  This will really thoroughly test the serialization directly.  I have never seen something work in sql-lite but not the production DB.

[2016-01-25 15:51] jpazzini commented on #102
@mulhearn - what the TMunpacker does at the moment is to decode the information received from the TwinMux FEDs (according to the latest version of the TM firmware) into the standard L1MuDTChambPh(Th)Digi format.

Regarding the push to the 'cms-l1t-offline', I'm having some problems.
I'm on the local branch 'TwinMuxUnpacker_CMSSW_800pre4', and I've (successfully) added the remote as you suggested b

[2016-01-25 16:36] mulhearn commented on #102
@jpazzini it seems you did not accept yet the invitation to join the cms-l1t-offline organization, and that is why you don't have the permissions...

About your answer, I guess I am asking does the latest version of the TM firmware include in the information it sends the inputs to Twin Mux as well as its outputs.  I can't tell from your answer since the inputs and outputs use the same data format.

[2016-01-25 17:27] mulhearn opened #128 "Tracking of PRs into CMSSW 80X"
This topic will track PRs into CMSSW made from our 80x integration branch:

   https://github.com/cms-l1t-offline/cmssw/tree/l1t-integration-pass6-80x

The integration branch is up to date with the dev-recipes branch
   https://github.com/cms-l1t-offline/cmssw/commits/l1t-dev-recipe-CMSSW_8_0_0_pre5
at (currently latest) commit ecbb92bed14dbfa4ddc9609c76c8d1170cbe643b.

This PR to muon data will b

[2016-01-25 18:06] jpazzini commented on #102
@mulhearn - thanks, you're right, I missed the email with the invitation.
The unpacker is supposed to send both the inputs and the outputs; however, currently the outputs are just a copy of the inputs as there is still no firmware implemented to build the "super-primitives".

[2016-01-25 19:10] gflouris commented on #121
1) cmsRun /afs/cern.ch/work/g/gflouris/public/reEmul.py max=500 era=stage1
- Using input from line 35 or 36  (RunD) produces: "[DTTrigProd] CCB configuration is not valid for this run, empty collection will be produced"
- Using input from line 37 (RunB): no error. produces reasonable results.

[2016-01-25 20:41] mulhearn commented on #121
Thanks, I forwarded it to Carlo...

[2016-01-25 23:19] thomreis commented on #126
Merged in the l1t-muon-CMSSW_8_0_0_pre1 branch

[2016-01-25 23:19] #126 closed

[2016-01-25 23:50] mulhearn commented on #101
Improvements:
- added example code to use sumType when interpreting sums in ntuple
- changed ntuple code to allow multiple Tau collections (now used for Stage-1)
- merged all the latest calo updates, except for 1x1 TP related one (which need 80x), as described above.

[2016-01-25 23:51] mulhearn commented on #101
@jimbrooke it looks to me like the HT sums are now all sending the same constant value.  Can you have someone from the Stage-2 team take a look?

[2016-01-26 00:02] jimbrooke commented on #123
I'm struggling to understand all the changes in here.  I think the new L1MuonUpgradeTreeProducer is fine.  But I see also changes to L1NtupleProducer, which I had hoped to deprecate since it is an out of date behemoth.  @thomreis do you just need the gen level info from L1NtupleProducer (with additional variables as in your repo)?  If so, I suggest we break this out into it's own producer, which c

[2016-01-26 00:06] jimbrooke commented on #118
What MC info is required?  There is already code for generator particles and MC vertices
https://github.com/cms-l1t-offline/cmssw/blob/l1t-dev-recipe-CMSSW_7_6_0/L1Trigger/L1TNtuples/src/L1AnalysisGenerator.cc
https://github.com/cms-l1t-offline/cmssw/blob/l1t-dev-recipe-CMSSW_7_6_0/L1Trigger/L1TNtuples/src/L1AnalysisSimulation.cc

If needed urgently, they are filled now by L1NtupleProducer.  But t

[2016-01-26 00:34] mulhearn commented on #102
Thanks for the answer!  In offline, its the inputs that we need most critically, since there is otherwise no reliable way to bitwise re-emulate the trigger primitives.

[2016-01-26 03:15] mulhearn opened #129 "Integration of Calo Layer1 Emulator and Non-Framework Unpackers"
For testing with 1x1 TPs a new calo layer1 development branch has been created:
   https://github.com/cms-l1t-offline/cmssw/tree/l1t-layer1-CMSSW_8_0_0_pre4
The recipe to check it out and develop is:
[code]
This branch is fully up-to date with the calo-layer2 dev branch.

On the unpacker side, the non-Fwk unpackers are going into L1TXRawToDigi package.  Those will be:

TwinMux:  https://github.com

[2016-01-26 03:19] mulhearn commented on #129
@gomber @SridharaDasu we can track integration of layer1 stuff here.  I created a new development branch for you in pre4.  Follow the "view it on GitHub" link to see the details.

[2016-01-26 03:38] mulhearn commented on #129
It compiles...

[2016-01-26 07:01] mulhearn opened #130 "Problem running reEmul.py with latest muon updates"
I noticed that I cannot run "reEmul.py" with the latest muon updates included.  I get errors like this:
[code]
@thomreis can you please investigate?

Its on the latest muon dev branch (which merges w/ dev-recipes for convenience):

   https://github.com/cms-l1t-offline/cmssw/tree/l1t-muon-CMSSW_8_0_0_pre5

[2016-01-26 08:58] thomreis commented on #130
I saw the same warning yesterday evening on the muon branch. Looks like we get to many muons per BX from either EMTF or OMTF. We expect max 3 and we get 6.

[2016-01-26 09:13] thomreis commented on #123
I need the gen variables (pt, eta, phi, id) that I have added in my repo for the efficiency studies and the legacy GMT variables (Pt, Eta, Phi, N, CandBx, Cha, Qual, Isol, Rank, Det) for comparisons.

[2016-01-26 09:43] thomreis commented on #130
Further investigation shows that there are too many muons from the OMTF.
In every BX=0 it sends 36 muons (6 per sector instead of 3).

They have all the following properties:
input: bx 0, hwPt: 1, hwPhi: 525, hwEta: 999

These seem to be default fake muons. @akalinow could you please check what the OMTF emulator is producing?

[2016-01-26 10:11] akalinow commented on #130
Found a bug: after adapting the ptCode scale to correct convention, dummy candidates had ptCode=1,
instead of 0. I will push the update in a moment (have to setup the new l1t-muon-CMSSW_8_0_0_pre5 area).

[2016-01-26 11:20] thomreis commented on #130
I checked this with the old muon branch but no I realize that I cannot run reEmul.py on the new branch at all.
@mulhearn how did you run it? There seem to be two configurations for L1TMuonGlobalParamsESProducer in https://github.com/cms-l1t-offline/cmssw/tree/l1t-muon-CMSSW_8_0_0_pre5/L1Trigger/L1TMuon/python
One is called fakeGmtParams and the other fakeMuonGlobalParams. From looking at them I th

[2016-01-26 11:34] mulhearn commented on #130
Indeed, it looks like things got out of sync between dev-recipe and the muon dev branch.  I think I just need to globally make sure the configs (with new names as in dev-recipes) are your latest and greatest.   Let me try... my fixes might break your expert code, but we can fix that next.

[2016-01-26 11:36] akalinow commented on #130
The bugfix on OMTF (too many candidates) pushed to both pre1 and pre5 branches.

[2016-01-26 11:42] mulhearn commented on #130
Excellent, thanks.

[2016-01-26 12:24] mulhearn commented on #130
OK, I've restored all of the unit tests (L1TMuon/L1TMuonXXX/test/runXXX.py) and the reEmul.py now works as well.

I want to clean up the commit history, and I don't want to "change history", so I'll make a new dev branch (pass2) shortly...

[2016-01-26 12:40] mulhearn commented on #130
OK, new, fully functional Muon dev branch is here, with all tests I know of working:

   https://github.com/cms-l1t-offline/cmssw/tree/l1t-muon-pass2-CMSSW_8_0_0_pre5

please make sure you expert code works in this version and update as needed.  Thanks for the help debugging!

[2016-01-26 13:05] mulhearn commented on #130
This one is closed!

[2016-01-26 13:33] thomreis commented on #130
L1Trigger/L1Tmuon/test/runMuon.py still does not work. Need to either run the simMuonQualityAdjusterDigis module or change the inputs for simGmtStage2Digis

[2016-01-26 13:41] thomreis commented on #130
Changed input for simGmtStage2Digis in runMuon.py and now it works.
Commit: https://github.com/cms-l1t-offline/cmssw/commit/7812d2caacf5037ff68d10be010ca0fe92bed8ac

Closing this again.

[2016-01-26 13:41] #130 closed

[2016-01-26 16:48] jimbrooke opened #134 "Out of date offline JEC in L1Ntuples in l1t-calostage2-CMSSW_7_6_0"
Offline JEC are out of date in l1t-calostage2-CMSSW_7_6_0.  We were accessing them from an external file in previous versions, but this is broken due to issue described below.
https://hypernews.cern.ch/HyperNews/CMS/get/calibrations/2196.html

The fix is either to wait for new JEC In global tag, or to update the branch to newer CMSSW (764?)

[2016-01-26 21:44] mulhearn commented on #130
Weird... I sweat I tested all of them!  Thanks!

[2016-01-27 09:00] mulhearn commented on #103
The dev branch for L1TGlobal development with the utm library is here (for reference):
https://github.com/cms-l1t-offline/cmssw/tree/l1t-global-jan-dev-CMSSW_8_0_0_pre4

[2016-01-27 09:54] gennai commented on #101
Hi guys,
any news on this?

Best,
S.
Il giorno 26 gen 2016, alle ore 00:51, mulhearn <notifications@github.com<mailto:notifications@github.com>> ha scritto:

@jimbrookehttps://github.com/jimbrooke it looks to me like the HT sums are now all sending the same constant value. Can you have someone from the Stage-2 team take a look?

—
Reply to this email directly or view it on GitHubhttps://github.com

[2016-01-27 10:40] jimbrooke commented on #101
I will have a look.  But I am ****ing unhappy about this.

[2016-01-27 10:47] jimbrooke commented on #101
I will have a look.  We do not see this in our dev branches (and we haven't made any changes to sums in emulator or ntuples) so I can only guess it is a problem with THIS branch and the way things have been merged...  But the history on this branch has been collapsed, so I can't tell where any of the changes were merged from or why they were made.  This is ridiculous.

[2016-01-27 12:15] mulhearn commented on #101
Yeah, my bad.  I'm seeing the downside of collapsing the commits, but there was also a downside of trying to move 1000 of commits (via cherry-pick) back and forth between various branches too... Bear with me while I search for the optimal choice.   Meanwhile, I'll try to sort out the different.

[2016-01-27 12:31] mulhearn commented on #101
Hey but, Jim, please note you can do this, which I usually find more useful than comparing commit histories:

[code]

[2016-01-27 12:55] jimbrooke commented on #101
Please add these commits to this branch, to fix the L1 calo development/analysis jobs
https://github.com/cms-l1t-offline/cmssw/commit/267f13eff6d12b17bc9d568b3fb7f5634acd235b
https://github.com/cms-l1t-offline/cmssw/commit/5cc79038b8bc8596b907571954c3768af3f8aee

[2016-01-27 13:12] mulhearn commented on #101
On it.

[2016-01-27 13:16] jimbrooke opened #135 "L1Calo cmsDriver jobs"
Here are some jobs that we are using for tests/development/analysis of L1Calo

1) unpack S2Calo and create ntuples
`cmsDriver.py l1Ntuple -s RAW2DIGI,L1Reco --era=Run2_2016 --customise=L1Trigger/L1TNtuples/customiseL1Ntuple.L1NtupleRAW --conditions=auto:run2_data -n 10 --data --filein=/store/data/Run2015D/ZeroBias/RAW/v1/000/260/627/00000/00A76FFA-0C82-E511-B441-02163E01450F.root`

2) as 1) but in

[2016-01-27 13:55] mulhearn commented on #135
Thanks, will try as soon as finished compiling...

[2016-01-27 16:58] thomreis commented on #116
I have been looking at this a bit more and it seems that the uGT emulator cannot handle muons in BX < -2 or BX > +2.

In order to reproduce this check out this branch https://github.com/thomreis/cmssw/tree/l1t-muon-pass2-CMSSW_8_0_0_pre5_uGT-segfault and run https://github.com/thomreis/cmssw/blob/l1t-muon-pass2-CMSSW_8_0_0_pre5_uGT-segfault/L1Trigger/L1TCommon/test/runL1TReEmulateFromRAW.py
The MC

[2016-01-27 17:29] puigh commented on #116
We were working under the assumption that the uGT would be working only in
a range of 5 bx (-2 to 2), but we will confirm with Takashi that it is 5
and not 7 bx. We should follow what the hardware is doing. This is
configurable, and it would be an easy change if we decided to update. That
being said, it is a bug that it produces a segfault, and we will put in
protection to keep this from happening

[2016-01-27 17:48] tmatsush commented on #71
gitlab repository for utm is now available as requested by David.
  https://gitlab.cern.ch/cms-l1t-utm/utm
the current tag is r41757-xsd310-patch. There is no change in the header files under tmEventSetup since  utm-r41543-xsd310-patch version.

[2016-01-27 17:53] thomreis commented on #116
From the hardware we are also sending from -2 to +2 only. Except last December when we had special readout menus.
Definitely good to add some protection though.

I am not sure in which branch this should go. l1t-muon-pass2-CMSSW_8_0_0_pre5 perhaps and maybe also l1t-dev-recipe-CMSSW_7_6_0. Perhaps @mulhearn can help.

[2016-01-27 17:55] puigh commented on #116
While we wait for a response from Mike, if you just want to test the full
chain, you can always set this to bx 7 from the configuration:
https://github.com/thomreis/cmssw/blob/l1t-muon-pass2-CMSSW_8_0_0_pre5_uGT-segfault/L1Trigger/L1TGlobal/python/simGtStage2Digis_cfi.py#L10

On Wed, Jan 27, 2016 at 12:29 PM, Darren Puigh <darren.michael.puigh@cern.ch

[2016-01-27 18:10] thomreis commented on #116
OK thanks.

[2016-01-27 19:23] mulhearn commented on #116
Just push it to whatever branch you are working in, alert me when ready,
and I'll put it where needed...

On Wed, Jan 27, 2016 at 7:10 PM, Thomas Reis notifications@github.com
wrote:

[2016-01-27 19:43] jimbrooke commented on #101
Mike you didn't mention what fixed value you obtain, or with what command.  Running the test command below, in the 760 dev recipe branch, I see non-zero distributions for HT and MHT.  I can only guess the fixed value was zero, and came from a small number of zero bias events.  Which is expected - jet pT threshold is 30 GeV for both HT and MHT....

cmsDriver.py l1Ntuple -s RAW2DIGI,L1Reco --customi

[2016-01-27 20:01] mulhearn commented on #101
It wasn't zero, but some weird value... like 10^-7 or something.  It was from running reEmul.py with no options and just looking in the ntuple produced.  I'll check the latest version.  Thanks for looking into it!

[2016-01-27 20:11] jimbrooke commented on #101
1E-6 GeV.  That is expected.  It's a feature copied from legacy L1Extra, which I believe was protection against rounding errors and other weird stuff.  No time to figure out if those problems still apply, so I decided to retain the same functionality as L1Extra.

[2016-01-27 20:15] puigh commented on #116
OK, here is the commit on our development branch. It's just a few lines of
code for extra protection with all the changes in one file:
https://github.com/cms-l1t-offline/cmssw/commit/ae56e296a76792c0b69f5cab5c41b4bd49d35716

Let me know if that doesn't work and/or if something else is needed.

On Wed, Jan 27, 2016 at 2:23 PM, mulhearn notifications@github.com wrote:

[2016-01-27 21:02] mulhearn commented on #101
OK, sorry for the false alarm.  This is a change from when I looked at sums over Christmas, so it just seemed suspicious to me.

[2016-01-27 22:26] mulhearn commented on #104
1 merged, 1 rejected.  Closing the issue.

[2016-01-27 22:26] #104 closed

[2016-01-27 22:46] mulhearn commented on #116
I've put a stripped down version of Darren's fix into both the muon dev branch and the recipe branch.  @thomreis can you try cherry-picking this guy 272f34e0de64eb067d6d29c140f3d30f748f479e and confirm that it fixes your problem?

[2016-01-27 23:00] mulhearn commented on #116
The tea worked:

[code]

[2016-01-27 23:01] mulhearn commented on #116
I think we can close this one.

[2016-01-27 23:01] #116 closed

[2016-01-28 03:23] mulhearn commented on #120
Fixed by this commit:  4a886ad3bbd1d1820e85f1c3c281c9ed1744441a

[2016-01-28 03:23] #120 closed

[2016-01-28 03:28] mulhearn commented on #134
I think we should just move the dev-recipe branch to 764.  But first I want to finish getting the cmsDriver workflows working.

[2016-01-28 04:13] mulhearn commented on #135
OK, so your workflow clashed rather maximally with my cleanup of the standard sequences.  For now I have restored L1Extra and Stage-1 unpacking to standard sequences even during Stage-2 era.  But it won't be for long!  I'll provide customizations to replace this before I pull them out again.

[2016-01-28 04:31] mulhearn commented on #135
They all run now:
(1) produces L1Extra output, as expected.
(2) complains about no HCAL/ECAL TPs, no re-emulated stage-2 outputs.
(3) crashes looking for "sqlite:Summer15_25nsV6_DATA.db"

[2016-01-28 04:58] mulhearn commented on #135
and why are you using l1extra for stage-1 calo anyway?!  Don't you have the upgrade objects available?  I thought we agreed to deprecate it!

[2016-01-28 05:00] mulhearn commented on #117
This being followed up in #135 instead.  Closing.

[2016-01-28 05:00] #117 closed

[2016-01-28 08:52] rekovic commented on #103
Working note:

I have got the HLTL1TSeed module to access L1GlobalTriggerObjectMapRecord,
and loop over all its Maps, but it turns out it is not enough.

In Legacy L1/HLT interface one does need to be able to get the L1TriggerMenu from the EventSetup.
Once menu is obtained, the algorithm and aliases maps are obtained

[code]

which are then used to retrieve the GT decision bitNumbers for all seedi

[2016-01-28 09:46] fwyzard commented on #103
@rekovic , don't you have all the necessary information and code available in the branch https://github.com/cms-l1t-offline/cmssw/tree/l1t-global-jan-dev-CMSSW_8_0_0_pre4 ?

[2016-01-28 10:05] mulhearn commented on #103
That relies on utm being installed... and there's some integration work needed, but in principle, yes.

[2016-01-28 10:54] jimbrooke commented on #135
Which release/branch are you using ?
1) should produce an l1UpgradeTree  as well as l1Extra !
2) I have run in 760 dev branch looked at stage 2 objects, so I think those complaints can be ignored - will check.
3) I will commit the missing file to /data, but I am pretty sure that job will fail further on in all releases/branches other than 760pre7.

Re: L1Extra - I just took what already existed fo

[2016-01-28 11:05] jimbrooke commented on #135
Re: L1Extra - I took what existed in October '15 (!) when I wrote these sequences
https://github.com/cms-l1t-offline/cmssw/blob/e31b9b985ea9b7eee885d02a6431e3e113fea0b0/L1Trigger/L1TNtuples/python/L1NtupleRAW_cff.py

[2016-01-28 11:23] mulhearn commented on #135
So far I am just updating the dev-recipe branch.

About workflow (1), isn't that a stage-1 RAW file in the example, so, absent re-emulation, won't the L1Upgrade tree be empty?

(2) clearly needs additional debugging.

So (3) I should wait until I move this to 764 before looking into it?

[2016-01-28 11:24] mulhearn commented on #134
Follow this up in #135.

[2016-01-28 11:24] #134 closed

[2016-01-28 11:36] mulhearn commented on #103
The new conditions we'll eventually have in event setup (based on UTM library) are here:

https://github.com/cms-l1t-offline/cmssw/blob/l1t-global-jan-dev-CMSSW_8_0_0_pre4/CondFormats/L1TObjects/interface/L1TUtmTriggerMenu.h

You can see this parallels the structure of the old TriggerMenu, but the low-level fields are slightly different.  So the GtParser will need a corresponding update too.

[2016-01-28 12:24] blwiner commented on #103
Perhaps this is known, but as I mentioned in the L1 meeting on Tuesday.
L1TGlobalUtils pulls the L1 Menu out of the EventSetup and provides methods
for getting bit number by trigger name, or trigger name by bit number,
trigger bit decisions, etc.  As an example, these Utils are used in
GtRecordDump.

-Brian

On Thu, Jan 28, 2016 at 6:36 AM, mulhearn notifications@github.com wrote:

##

#

| Prof.

[2016-01-28 12:36] mulhearn commented on #103
Let's chat if possible...

[2016-01-28 15:18] mulhearn commented on #101
It seems I missed this commit for Taus:  3bff4a1f7da1f78a62a485a3bdaee246a29bd975
In now, apologies for the oversight...

[2016-01-28 16:02] jpazzini commented on #102
@mulhearn - I should make a minor fix (only affecting the text output of a WarningLog actually) to the TMunpaker package. Is it ok if I push it?

[2016-01-29 12:56] mulhearn commented on #101
I've finished rebasing the development branch on 800_pre5.  I've tested it with a small 10k run of reEmul.py and it seems to be working (control plots linked in summary).  Please update to the new recipe in summary.

[2016-01-29 12:57] mulhearn commented on #101
Next focus:
- put v1 of HLT seed filter here
- debug calo Team's cmsDriver workflows.

[2016-01-29 12:59] mulhearn commented on #101
Then:
- import 1x1 updates from calo dev branch
- import Layer-1 bitwise emulation

[2016-01-29 15:46] jimbrooke commented on #135
I have updated the file in 1) and 2) to one from run 260627, which includes stage 2 calo
/store/data/Run2015D/ZeroBias/RAW/v1/000/260/627/00000/00A76FFA-0C82-E511-B441-02163E01450F.root

[2016-01-30 16:20] mulhearn commented on #103
@fwyzard @Martin-Grunewald v1.0 of the HLTL1TSeed module is finally available at:
   https://github.com/cms-l1t-offline/cmssw/tree/l1t-hlt-demo-v1-CMSSW_8_0_0_pre5
the demo code is:

[code]

The first example re-Emulates the entire L1T from RAW and feeds it to the HLTSeedFilter.  The second runs L1T on MC, starting just after GEN sequence.  I can provide another version which packs the reEmulated

[2016-01-30 19:17] mulhearn commented on #95
@blwiner @puigh dramatic progress on this thread.  Please note the summary by following the link to the original github issue.  Please switch to using the new development branch (https://github.com/cms-l1t-offline/cmssw/tree/l1t-global-CMSSW_8_0_0_pre5), which still requires manual installation of utm, for your ongoing work (this is a slight change from what we discussed, but will make future inte

[2016-01-30 20:02] blwiner commented on #95
Mike,

  Does this new branch have all the changes that were pushed yesterday to
the global-jan-dev_pre4 branch?

 -Brian

On Sat, Jan 30, 2016 at 2:17 PM, mulhearn notifications@github.com wrote:

##

---

B. Winer

[2016-01-30 20:31] mulhearn commented on #101
It turns out adding v1 of HLT seed filter dramatically increases compile time, so while that task is complete, it is in a separate branch:
   https://github.com/cms-l1t-offline/cmssw/tree/l1t-hlt-demo-v1-CMSSW_8_0_0_pre5

[2016-01-30 20:48] mulhearn commented on #95
Fully up to date.  Note for the future you can check this by looking at the two branches in github and comparing the commit history... one of the many reasons I abandoned the experimental policy of quashing commits.

[2016-01-31 00:54] mulhearn commented on #103
@rekovic:  this commit a031422b8e05b3f7ae13cacb132bda0c137eb805 extends the object map class to include an object type vector, and fills it during the emulation.  I thought it rather silly to have only 95% of what we need contained an object designed for this single purpose.  To incorporate into your working area, you would do:

[code]

[2016-01-31 01:10] mulhearn commented on #95
@blwiner @puigh I added this commit db8953de8f599c7031b0ac6856ed843b4c079699 to L1TGlobal in your development branch
https://github.com/cms-l1t-offline/cmssw/tree/l1t-global-CMSSW_8_0_0_pre5
which extends the legacy Object Map to include the object type, and fills it in the emulator, as needed for the L1T/HLT interface.  Can you have a closer look and make sure that everything is sound?

[2016-01-31 07:22] Martin-Grunewald commented on #103
@mulhearn @rekovic

Thanks a lot! Overall we would need three use-case example, two HLT-specific:

1) running the minimal L1T needed for HLT, starting from RAW (ie, unpacker, object maps etc.,
to get both all L1T objects, and to feed HLTL1TSeed to get from it the specific L1T objects)

2) running the full L1T in re-emul mode, needed when we want to change the L1T.
This may mean the GT only or also

[2016-01-31 07:23] Martin-Grunewald commented on #103
Ah yes, and a PR, please!

[2016-01-31 07:38] mulhearn commented on #103
It seems that it needs a rebase.   Thanks for the details, I will work out the sequences too.

[2016-01-31 12:45] mulhearn commented on #95
Looking again, in addition to the warning, I should probably push -1 as the object type if no match is found... so at least the other operands are not out of sync.

[2016-01-31 16:02] rekovic commented on #103
@mulhearn With this fix we are still storing the old (Legacy) enum defined in
DataFormats/L1GlobalTrigger/interface/L1GtObject.h
We need new ones (Mu, EG, Jet, Tau...) for Stage2.

[2016-01-31 16:47] blwiner commented on #103
This is being worked on.

  Brian

Sent from my iPhone

On Jan 31, 2016, at 11:02 AM, rekovic notifications@github.com wrote:

@mulhearn https://github.com/mulhearn With this fix we are still storing
the old (Legacy) enum defined in
DataFormats/L1GlobalTrigger/interface/L1GtObject.h
We need new ones (Mu, EG, Jet, Tau...) for Stage2.

—
Reply to this email directly or view it on GitHub
https://gith

[2016-02-01 01:56] mulhearn commented on #135
@jimbrooke:  status report on this one is:
1) Works, but there seems to be a problem with the unpacking of Stage-1 Calo.
2) Works (with same problem as 1) and the re-emulation works (except that muon is not included yet)
3) Works (if I copy the sqlite file locally) and I see I see reco quantities in ntuple

So the only major problem seems to be the unpacker for Stage 1.  I see the same problem whe

[2016-02-01 09:36] tmatsush commented on #71
https://github.com/cms-sw/cmsdist/pull/2111

[2016-02-01 12:58] rekovic commented on #103
@blwiner  OK.   For the time being working with hard wired conversion of types from Legacy to Stage2 in the interface module HLTL1TSeed.

[2016-02-01 13:02] rekovic commented on #103
We have a working version of the interface module HLTL1TSeed which stores L1 objects
for each seed of configurable L1SeedsLogicalExpression.

An example event from a test job:

HLTL1TSeed::hltFilter
  Dump TriggerFilterObjectWithRefs
%MSG

HLTL1TSeed: seed logical expression = L1_SingleJet36 OR L1_SingleEG10

  L1Mu seeds:      0
  L1EG seeds:      1

[code]

  L1Jet seeds:      4

[code]

  L1Tau

[2016-02-01 13:25] Martin-Grunewald commented on #103
@rekovic Nice!

[2016-02-01 14:40] mulhearn commented on #101
thomas notifies me of an additional commit for new stage 2 EG LUTs:
   https://github.com/cms-l1t-offline/cmssw/commit/d7e6894266a43aa22d43d9eae7c947de9af968c3
(Note to self:  this includes changes to data area).

[2016-02-01 14:44] gennai commented on #101
Hi Mike,
sorry if I am too naive, but are these commit usable also in 76x recipe, or we have to move everything to 80X?

Best,
S.

Il giorno 01 feb 2016, alle ore 15:40, mulhearn <notifications@github.com<mailto:notifications@github.com>> ha scritto:

thomas notifies me of an additional commit for new stage 2 EG LUTs:
d7e6894https://github.com/cms-l1t-offline/cmssw/commit/d7e6894266a43aa22d43d9eae

[2016-02-01 14:58] mulhearn commented on #101
@gennai it is a serious hassle to keep two versions going... (Reason: technically the answer to your question is "no", the commits all need to be rebased to the different version, and then there are conflicts that have to be manually resolved... not to mention human error due to keeping track of what has been ported where...)  So unless there is a compelling reason not to, its best to advance toge

[2016-02-01 15:01] gennai commented on #101
Sounds good to me.
I was just asking as till few days ago there was still the 76X recipe :-)
Moving to 80X right now.

Best,
S.

[2016-02-01 15:32] mulhearn commented on #101
That commit is only four hours old!  I'll merge it now...

[2016-02-01 16:09] mulhearn commented on #135
@jimbrooke:  the error message from the stage-1 unpacker that I get is:

[code]

That was as far as I was able to track this so far.

[2016-02-01 17:11] mulhearn commented on #135
Finally got the message logger working and I see however:

[code]

So maybe downstream of unpacker after all...

[2016-02-01 17:28] mulhearn commented on #135
Ugggh, says it right there... thats the caloStage2Digis having success.  (With proper Error logger output) its clear problem is with stage 1 unpacker:

[code]

[2016-02-01 17:38] mulhearn commented on #135
@bortigno example cmsDriver recipe #3 should get you started.  Only stage-1 unpacking appears to be be broken.

[2016-02-01 18:22] mulhearn commented on #101
@jimbrooke:  I've confirmed myself that only 1x1 HF related commits are missing from the branch, but when you get a chance, can you check the list of explicit recent commits listed in the summary (on github topic) and confirm that I am not missing anything from layer-2 Calo team?

[2016-02-01 18:25] mulhearn commented on #101
@gennai:  its in now.  Pending confirmation from jim it should be fully up to date for Calo.  I'm in the process of updating with latest muon changes now.

[2016-02-01 19:20] mulhearn commented on #135
@bortigno you'll still need an update with me to add re-emulation of muons to this example before muons will work... but you can get started.

[2016-02-01 19:30] mulhearn commented on #101
Now fully up to date with muon development branch (at commit 9ec86536467af43bab859037291e1ef82e665b22).

[2016-02-01 19:32] bortigno commented on #135
ok thank you. i will try to run on some data tonight.

[2016-02-01 19:39] mulhearn commented on #128
Just checked the data branches again wrt dev-recipes, and update needed for Calo for these files:

[code]

[2016-02-01 22:50] bortigno commented on #135
@mulhearn @jimbrooke which release and which branch am I supposed to use to run this recipe? I tried 800_pre5 release and l1t-dev-recipe-CMSSW_8_0_0_pre5 branch giving me this error: Connection on "sqlite:Summer15_25nsV6_DATA.db" cannot be established.

[2016-02-01 23:28] jimbrooke commented on #135
We really need to find a solution for this!  It is just the latest offline JEC.  For now, you can copy the file from my public area
cp ~jbrooke/public/Summer15_25nsV6_DATA.db .

[2016-02-02 00:29] jimbrooke commented on #135
@mulhearn @matz-e I guess this is of interest.

I reproduced the stage 1 unpacker problem.

As shown in the error message, the FW ID in this data is 0x1010200, which I confirmed by inspecting the raw data.  But 0x1010200 & 0xff000000 = 0x1000000 so the unpacker sets itself up using the fake MC setup
https://github.com/cms-l1t-offline/cmssw/blob/l1t-dev-recipe-CMSSW_8_0_0_pre5/EventFilter/L1TRawToD

[2016-02-02 00:48] jimbrooke commented on #135
Looking a bit closer I guess what is missing is a line in
https://github.com/cms-l1t-offline/cmssw/blob/l1t-dev-recipe-CMSSW_8_0_0_pre5/EventFilter/L1TRawToDigi/python/caloStage1Digis_cfi.py

that will set this to false by default (assuming that is the desired behaviour, I think it is)
https://github.com/cms-l1t-offline/cmssw/blob/l1t-dev-recipe-CMSSW_8_0_0_pre5/EventFilter/L1TRawToDigi/plugins/L1

[2016-02-02 01:51] mulhearn commented on #100
Lately the workflow has changed to updating dev-recipes first, then into integration branch via "git rebase --onto"... so this page is obsolete:  status of topic branches is maintained in dev-recipes topic.  Closing this issue.

[2016-02-02 01:51] #100 closed

[2016-02-02 02:03] mulhearn commented on #128
Comparing current dev-recipes branch to integration branch:

[code]

The data files are missing on purpose, as they don't go into a separate repo for data.  The remaining changes were all modifications to the original PRs including: reverting back legacy standard sequences (for now), fix to CaloParams explained below, unneeded changes to raw data collector, compilation fixes found during addons.

[2016-02-02 02:07] mulhearn commented on #128
Noting that someone did a bad thing in CaloParams:

[code]

See what happened there?  Someone wanted the tau stuff all together nicely in the enum, so they changed the enum ordering.  You can't do this!   Things have already been written to the database with the old enum ordering...  we can only _extend_ these enums, without changing the preceding entries.  This has been fixed in the version sent

[2016-02-02 07:55] rekovic commented on #128
Some comments of Martin at https://github.com/cms-sw/cmssw/pull/13154#issuecomment-178108613
should probably be addressed.

[2016-02-02 10:09] mulhearn commented on #128
@gflouris can you merge in the changes in cms-sw#13064 into your own working copy of development area and make sure it works as a drop in replacement?

[2016-02-02 10:24] mulhearn commented on #128
To merge this is, go here:
https://github.com/cms-sw/cmssw/pull/13064/commits
to see that you need:

[code]

[2016-02-02 10:36] mulhearn commented on #128
@thomreis I'll try to get your latest commits in.  Probably possible.

[2016-02-02 10:52] mulhearn commented on #135
In the release:
https://github.com/cms-sw/cmssw/blob/CMSSW_8_0_X/EventFilter/L1TRawToDigi/plugins/L1TRawToDigi.cc#L258
there is an explicit FWoverride parameter that was supposed to fix all this....  I guess this got mangled in our dev release.

[2016-02-02 10:54] mulhearn commented on #135
re: sqlite file For lack of a better place, I can just put in the L1TCalorimeter data area when I get a chance....

[2016-02-02 11:57] mulhearn commented on #101
Aaron writes:  I have a few commits to the l1t-stage2calo-CMSSW_7_6_0_pre7 dev branch
that will need to be ported to l1t-calostage2-pass2-CMSSW_8_0_0_pre4:
- 21eb733 Added met filters to ntuples
- 8494d26 Added jetid and switched to jet-by-jet jec
- 56062d3 Added corrected pf jet sor

(DONE)

[2016-02-02 12:49] matz-e commented on #135
Trying to unsort this in my head… there's a bit too much branch- and merge-juggling going on IMHO. @jimbrooke I think there's a commit that reverted part of this one:

https://github.com/cms-sw/cmssw/commit/299072a7940492e9613ef1915ce9a7bef60ff480

Where both the plugin and the config should do the same w.r.t. the firmware version. Compare:

https://github.com/cms-l1t-offline/cmssw/blob/l1t-dev-re

[2016-02-02 12:50] mulhearn commented on #129
Just updating the link to the Layer-1 folks dev branch which is:

https://github.com/cms-l1t-offline/cmssw/commits/l1t-layer1-CMSSW_8_0_0_pre4

[2016-02-02 13:14] jimbrooke commented on #101
@mulhearn I am pretty confident all changes from 76X branches are in here

[2016-02-02 15:38] mulhearn commented on #135
@matz-e:  anyway, right, I think that is the only error... the convention is that mc has all upper 8 bits set to one, correct?

As to the branches, with this fix, dev-recipe branch will be fully functional for everyone, and the latest 11 PRs into CMSSW will bring 80X_pre6 in sync with dev-recipe.  So things should get cleaner soon.

[2016-02-02 15:47] mulhearn commented on #128
Need to update HLT branch with three latest commits of Vladimir, addressing HLT group concerns, in
   https://github.com/cms-sw/cmssw/pull/13154#issuecomment-178108613 (DONE)

[2016-02-03 10:25] gflouris commented on #128
@mulhearn I tested the bmtf emulation with the changes in cms-sw#13064. The changes work perfectly fine for me.

[2016-02-03 10:50] mulhearn commented on #135
I brought back the 7_4_16 version of unpacker and indeed Stage-1 works.  Now I'll roll back the changes since and see where we broke it.

[2016-02-03 14:08] mulhearn opened #140 "L1T Calo Stage 2 Development Branch"
Mulhearn has produced a rebased version of the calo development branch against the dev-recipe branch at tag l1t-tsg-v1:

   https://github.com/cms-l1t-offline/cmssw/tree/l1t-calostage2-CMSSW_8_0_0_pre6

To build this follow the same instructions as here #147, but substitute  `l1t-calostage2-CMSSW_8_0_0_pre6` at the cms-merge-topic step.

The previous calo team dev branch (which will likely still b

[2016-02-03 14:09] mulhearn commented on #140
@jimbrooke: here you go.  Please let me know when I may delete the (is it 15?) failed calo dev branches.

[2016-02-03 14:13] mulhearn commented on #140
Consolidating issues, Jim wrote elsewhere the three cms-driver work flows:

1) unpack S2Calo and create ntuples
`cmsDriver.py l1Ntuple -s RAW2DIGI,L1Reco --era=Run2_2016 --customise=L1Trigger/L1TNtuples/customiseL1Ntuple.L1NtupleRAW --conditions=auto:run2_data -n 10 --data --filein=/store/data/Run2015D/ZeroBias/RAW/v1/000/260/627/00000/00A76FFA-0C82-E511-B441-02163E01450F.root`

2) as 1) but inclu

[2016-02-03 14:16] mulhearn commented on #135
This is working except for unpacking, which I'll follow up elsewhere.

[2016-02-03 14:16] #135 closed

[2016-02-03 16:13] jimbrooke commented on #140
I'm currently getting this from 3) on std lxplus node.  I'll try another one...

Begin processing the 2nd record. Run 260627, Event 1317516448, LumiSection 720 at 03-Feb-2016 17:01:00.664 CET

std::bad_alloc exception
----- Begin Fatal Exception 03-Feb-2016 17:01:00 CET-----------------------
An exception of category 'BadAlloc' occurred while
   [0] Processing run: 260627 lumi: 720 event: 13175164

[2016-02-03 16:21] apana commented on #140
Hi Jim,

I also got this message when I tried running the
l1t-dev-recipe-CMSSW_8_0_0_pre5 recipe last night. The recipe worked
the night before, so the bug was probably introduced sometime
yesterday.  Mike asked that for now I try:  (RECIPE DELETED)

and that fixed the problem.

-Len

[2016-02-03 16:23] mulhearn commented on #140
I should have warned you not to share that magic recipe... that definitely won't work Jim's case, since it will blow away everything up until that particular commit, including stuff he needs....

[2016-02-03 16:32] mulhearn commented on #140
Does not crash for me... its before 10 events?

[2016-02-03 16:37] apana commented on #140
Hi Mike,

Yes, it was ~10 events.

On Wed, Feb 3, 2016 at 10:32 AM, mulhearn notifications@github.com wrote:

[2016-02-03 16:38] mulhearn commented on #140
Jim currently checking if it is the "--unsafe" option in cms-merge-topic causing the problem.  We had some data format changes.

[2016-02-03 17:28] jimbrooke commented on #140
OK, adding the dependent packages did indeed fix the problem.  Thanks Mike!

[2016-02-03 17:41] jimbrooke commented on #140
Just a note - HF 1x1 TPs are not produced by default in these jobs, and we seem to be missing some HCAL voodoo.  We have voodoo that previously worked (in 80X IBs) but it is broken in this release (or possibly in these cmsDriver jobs).

[2016-02-03 17:54] mulhearn commented on #140
@jimbrooke, please cherry-pick these recent additions to dev-recipes:

65af6edacce1b2d7e25418b19b34d7738c6366ec   (bug fix stage-1 unpacking)
b0e832fc43ccaf56758a3de6138f5e7fc09df086  (utility customs)

[2016-02-04 03:18] mulhearn commented on #128
@thomreis your last two commits are now in #13065  (please confirm thats what you requested)

[2016-02-04 05:20] mulhearn commented on #101
I was just about to push a bunch of updates to dev recipes (even marked as done already above) but they are stuck in my local repo until I can manage to log back into lxplus...

[2016-02-04 07:42] thomreis commented on #128
@mulhearn this looks good to me. Thanks.

[2016-02-04 09:26] jimbrooke commented on #140
I added those commits as requested

[2016-02-04 10:51] mulhearn opened #142 "CMS Driver Based Workflows for the dev-recipes branch"
Eventually this will go in a Twiki, but during development this is an issue.

The dev-recipes branch now supports various configurations via cmsDriver.  Some important examples are listed here:

1) Test of Stage-1 / Stage-2 unpacking:  unpacks RAW from run with both Stage-1 and Stage-2 included, dumps summary of each event to screen, and summarizes total number of each type:
`cmsDriver.py L1UNPACK

[2016-02-04 14:27] tstreble commented on #142
Shouldn't "customiseUtils" be changed into "customiseL1TUtils"?

[2016-02-04 14:28] jimbrooke commented on #140
I merged a missing commit
https://github.com/cms-l1t-offline/cmssw/commit/6a67e92f83783dd5734224acf9ffc6c74d180217

This enables the HF 1x1 TPs to be read by the calo emulator and produce forward jets.  However, in order to make this work I had to produce cmsRun configs with cmsDriver as above and then load
Configuration.Geometry.GeometryExtended2016Reco_cff

instead of
Configuration.StandardSeque

[2016-02-04 14:30] mulhearn commented on #142
Work in progress, but getting non-zero re-emulation of calo+muon working with cmsDriver:

`cmsDriver.py l1Ntuple -s RAW2DIGI,L1Reco --era=Run2_2016 --customise=L1Trigger/Configuration/customiseReEmul.L1TReEmulFromRAW --conditions=auto:run2_data -n 10 --data --filein=/store/data/Run2015D/ZeroBias/RAW/v1/000/260/627/00000/00A76FFA-0C82-E511-B441-02163E01450F.root --customise=L1Trigger/Configuration/

[2016-02-04 14:32] mulhearn commented on #142
Not in my branch ;-)  Not pushed yet.

[2016-02-04 14:37] jimbrooke commented on #140
Now understand how to enable the 1x1 geometry from the command line.  Add
 --geometry=Extended2016,Extended2016Reco

[2016-02-05 09:23] mulhearn commented on #101
A lot of people have bumped into the same problem with dependent packages...  As a general rule of thumb (for all your CMS work!) the first thing you should think of when you get a crash you don't understand is:

[code]

This will check for additional packages in CMSSW that depends on your local file changes, and check them out locally (because of -a), so there libraries will be built properly inc

[2016-02-06 17:55] mulhearn commented on #128
Human XML parser error?  TriggerObjectCollection checksum did not change.  Posting the diff here before I blow it away with my update to the branch:
[code]
I will confirm after tests are running that the check sum changes all have a dependence on the intended change ...

[2016-02-06 21:32] mulhearn commented on #124
all merged, this one is closed.

[2016-02-06 21:32] #124 closed

[2016-02-06 21:46] mulhearn commented on #79
@mnorthup6690 I tried to rebase this but there are non-trivial conflicts...  can you have a look?  Or do we simply abandon this as unneeded?

[2016-02-06 21:48] mulhearn commented on #125
All the PRs are in, this one is closed.

[2016-02-06 21:48] #125 closed

[2016-02-07 14:51] Martin-Grunewald commented on #103
@mulhearn

Given the code ready for CMSSW, I'd now need some info on 3 aspects of python configurations:
a) py config of modules run with each HLT path
b) L1REAPCK configuration for cmsDriver
c) L1T parts of standard cmsDriver steps DIGI, L1, DIGI2RAW, L1Reco, RECO

More details here:

ad a)

currently, the HLT menu (py config) runs the following in each HLT path.
We'd need a replacement, in terms

[2016-02-08 08:06] mulhearn opened #145 "Debugging Cycle For 80x"
Here we will keep track of the debugging issues that emerge since our massive import of code into 80x.

The HLT/L1T interface development is a separate issue.

So far we have:
  1) warnings from L1TGlobal new enum's:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc493/CMSSW_8_0_X_2016-02-06-2300/L1Trigger/L1TGlobal
  2) problems reported with relval 250407.0 due to config files for lega

[2016-02-08 08:14] mulhearn commented on #103
@Martin-Grunewald short answers for now:
(a) understood: we will provide this today.  It should not be too difficult since this is simply a copy of our already working Stage-2 sequence.
(b)  This isn't quite finished yet.  I have a customization for re-Emulation working that includes Stage-2, as well as RawToDigi and DigiToRaw.  But I haven't combined these yet into L1REPACK sequence.
(c)  I have

[2016-02-08 09:19] mulhearn commented on #101
An updates from Thomas needs a cherry-pick:
https://github.com/cms-l1t-offline/cmssw/commit/e496e2587608a07dc757786cf80f98646913bfc3

[2016-02-08 09:21] mulhearn commented on #101
And from Aaron:
https://github.com/cms-l1t-offline/cmssw/commit/1fc3e0eddab0028014194fa03a8bf9ae0adae878

[2016-02-08 09:35] fwyzard commented on #101
Mike, now that 800pre6 is out, could you rebase the recipe to it ?

Edit: sorry, ignore that... I had not realised that https://github.com/cms-sw/cmssw/pull/13166 did not make it into pre6 .
.A

[2016-02-08 09:44] jimbrooke opened #146 "Workflow instructions"
A suggestion for the workflow on the wiki page.  Instead of
git pull cms-l1t-offline l1t-XXXX-$CMSSW_VERSION

Which causes the history to be filled with merge commits, we could do
git pull --rebase cms-l1t-offline l1t-XXXX-$CMSSW_VERSION

There are downsides to this, eg. if the rebase fails you have to intervene.

[2016-02-08 10:09] fwyzard commented on #101
about 1fc3e0e , is it something used only to make L1 ntuples and studies, or also in standard CMS workflows ?
I have some comments on the style, but I won't bother if it is internal code.

[2016-02-08 10:52] jimbrooke commented on #101
https://github.com/cms-l1t-offline/cmssw/commit/1fc3e0eddab0028014194fa03a8bf9ae0adae878 is not used in any production workflows, just ntuples for L1 trigger studies...

[2016-02-08 12:08] bundocka commented on #140
Running this job:

cmsDriver.py l1Ntuple -s RAW2DIGI,L1Reco --customise=L1Trigger/Configuration/customise_Stage2Calo.Stage2CaloFromRaw --customise=L1Trigger/L1TNtuples/customiseL1Ntuple.L1NtupleAODRAWEMU --conditions=auto:run2_data -n 20 --data --filein=/store/data/Run2015D/SingleMuon/AOD/16Dec2015-v1/10000/00A3E567-75A8-E511-AD0D-0CC47A4D769E.root --secondfilein=/store/data/Run2015D/SingleMuon/RA

[2016-02-08 12:18] jimbrooke commented on #140
For the record, this error is fixed by running
git cms-checkdeps -a
to check out the dependent packages, and recompile.

Alternatively, don't use the --unsafe option with git cms-merge-topic.

[2016-02-08 15:09] davignon commented on #140
@jimbrooke When running cmsDriver.py in emulation mode, I see the tauIso flag is always set to 0 (not expected for the WP under consideration). After a few quick checks, the problem is somewhere between L1TStage2Layer2Producer (where the iso is filled properly) and L1UpgradeTreeProducer (where the iso is always 0).
Jim and I are investigating the problem. We suspect it's related to the fact that t

[2016-02-08 15:28] jimbrooke commented on #140
@davignon   I have pushed a fix.

@mulhearn this results from the change of tau InputTag to VInputTag
https://github.com/cms-l1t-offline/cmssw/blob/l1t-calostage2-CMSSW_8_0_0_pre5/L1Trigger/L1TNtuples/python/l1UpgradeTree_cfi.py#L6

This wasn't propagated here
https://github.com/cms-l1t-offline/cmssw/blob/l1t-calostage2-CMSSW_8_0_0_pre5/L1Trigger/L1TNtuples/python/L1NtupleEMU_cff.py#L14

Because t

[2016-02-08 17:13] mulhearn commented on #140
Uggh, I am sorry I missed that addition config.  It seems we to include an EMU ntuple example in our list of standard checks to make.

[2016-02-09 09:06] gennai commented on #101
Hi guys,
I have tried to update my area (starting from scratch and following the usual recipe from Mike).
When running the reEmul.py I got this error message though:
cmsRun reEmul.py
INFO: runnings L1T Stage-2 (2016) Re-Emulation
INFO: output:   l1t_stage2.root
INFO: input:   ['/store/data/Run2015D/ZeroBias1/RAW/v1/000/256/843/00000/FE8AD1BB-D05E-E511-B3A7-02163E01276B.root']
INFO: max:   100

# C

[2016-02-09 09:49] thomreis commented on #101
Hi Simone,

This got me crazy also already. For me doing a cmsenv used to recover it. Not sure why it's necessary though.

Cheers,
Thomas

[2016-02-09 09:52] gennai commented on #101
it seems not to work for me …

Best,
S.
Il giorno 09 feb 2016, alle ore 10:49, Thomas Reis <notifications@github.com<mailto:notifications@github.com>> ha scritto:

Hi Simone,

This got me crazy also already. For me doing a cmsenv used to recover it. Not sure why it's necessary though.

Cheers,
Thomas

—
Reply to this email directly or view it on GitHubhttps://github.com/cms-l1t-offline/cmssw/issue

[2016-02-09 09:57] apana commented on #101
Hi Simone,

Is L1Trigger/Configuration/python/L1TReEmulateFromRAW_cff.py in your
project area?

-Len

On Tue, Feb 9, 2016 at 10:52 AM, simone gennai notifications@github.com
wrote:

[2016-02-09 10:06] mulhearn commented on #101
I'll look into it....  but note with pre6 out, this dev-recipe branch has a short half-life...

[2016-02-09 10:07] mulhearn commented on #101
Note also that if you call 'python <config>' instead of 'cmsRun <config>'  you'll get better debugging output...

[2016-02-09 10:11] gennai commented on #101
I am starting again from scratch (just to make sure my area was not fucked up …).
Do you have a delivery time of a new recipe with pre6 ? (Just to see if it is worth to wait )
Best,
S.

[2016-02-09 10:38] mulhearn commented on #101
Should be few hours...  essentially as soon as I get a chance.

[2016-02-09 10:42] gennai commented on #101
Sounds good,
anyway from a complete new area and a new machine, it works now.

Sorry for the false alarm.

Best,
S.
Il giorno 09 feb 2016, alle ore 11:38, mulhearn <notifications@github.com<mailto:notifications@github.com>> ha scritto:

Should be few hours... essentially as soon as I get a chance.

—
Reply to this email directly or view it on GitHubhttps://github.com/cms-l1t-offline/cmssw/issues/1

[2016-02-09 12:36] mulhearn opened #147 "L1T TSG integration branch for CMSSW_8_0_0_pre6"
This issue tracks the TSG integration branch ("dev-recipe") based on CMSSW_8_0_0_pre6:
  https://github.com/cms-l1t-offline/cmssw/tree/l1t-dev-recipe-CMSSW_8_0_0_pre6
For stability, the TSG integration branch lags the L1T integration branch, which is tracked here:
  https://github.com/cms-l1t-offline/cmssw/issues/164
Only code in this TSG branch, with a l1t-tsg-X tag, is intended for widespread co

[2016-02-09 12:41] mulhearn commented on #147
Not sure why the

[code]

is needed.  I checked out the package to investigate a crash in L1TGlobal, and the crash went away.  It is reproducible.

[2016-02-09 12:45] mulhearn commented on #147
Now working on bringing this fully up-to date with previous dev-recipes branch...  (DONE)

[2016-02-09 13:52] mulhearn commented on #147
Now fully update to date with previous dev-recipes branch, at commit d4b256ea8bca8c6295e43541c8f79434ab0e6a61.  Previous dev-recipes branch will now be retired.

[2016-02-09 13:54] mulhearn commented on #101
We have a new integration branch.  Follow up here:  #147

[2016-02-09 13:54] #101 closed

[2016-02-09 13:58] mulhearn commented on #147
Now cherry-picking from development branches the following:
  e496e25 (Was actually already in...sorry...done)
  1fc3e0e (done)

[2016-02-09 14:21] mulhearn commented on #147
Now merging in Layer-1... (DONE)

[2016-02-09 14:36] mulhearn commented on #147
Developers, if you are wondering where your data files went, check e.g.:
   $CMSSW_DATA_PATH/data-L1Trigger-L1TCalorimeter/
I'll ask if there is an easier way to access this... but note that you continue to reference these as if still in the release at e.g. L1Trigger/L1TCalorimeter/data

[2016-02-09 16:32] mulhearn opened #148 "GtBoard crashes when exits before one event processed"
If e.g. a config file error causes the GtBoard dtor to be called before a single event is processed, it crashes, hiding the config file error...  We should fix this dtor to exit cleanly under these circumstances.

[2016-02-09 17:33] fwyzard commented on #147
@mulhearn , I'm trying to understand what is available in 800pre6, what is available here, what is available from the developers but not yet integrated here, and what else we can expect Soon™.

From the TSG point of view, I think that on the short term the highest priority items are
- [x] update the "dev" recipe based on CMSSW_8_0_0_pre6
- [x] integrate the L1 uGT seed module for HLT (https://gith

[2016-02-09 17:38] davignon commented on #140
@mulhearn @jimbrooke
Just committed the new tau isolation LUTs to calostage2-CMSSW_8_0_0_pre5. I'm not sure of the procedure, but can we make this available in the dev-recipe branch so that the TSG can review?
Thanks.

[2016-02-09 21:06] mulhearn commented on #147
The bitwise emulation of CaloLayer1 is now included, but off by default:

[code]

it seems to be working for MC but not for re-Emulation from RAW.  Will follow up with Layer-1 experts.

[2016-02-09 21:11] mulhearn commented on #140
Putting it in now...

[2016-02-09 21:19] mulhearn commented on #140
@davignon @jimbrooke data files cannot go into CMSSW, they go in separate repo.  Its fine for us to put data files directly in our dev branches, but having different versions of the same named data file is I think a nightmare bound to happen...  I noticed these files have different versions:

[code]

From what I put in the data-repo.  I'm leaving as is for now, but can you rename these _v2 or some

[2016-02-09 21:36] mulhearn commented on #147
@jimbrooke can you confirm for me and @fwyzard that my recent inclusion of:
e496e25
d3af1d37
04dc8a1b
brings us up to date with the plots shown today?

[2016-02-09 21:39] mulhearn commented on #140
From your changes Feb 5 and onward, I've only included:
e496e25
d3af1d3
04dc8a1
in the dev recipes branch.  Should anything else be cherry-picked yet?

[2016-02-09 21:58] fwyzard commented on #147
@mulhearn , according to what @davignon and @tstreble told Simone via email, I think you are up to date.
- this is in e496e2587608a07dc757786cf80f98646913bfc3:
  On 9 February 2016 at 13:41, thomas strebler thomas.strebler@llr.in2p3.fr wrote:

- this should be in 04dc8a1b0c54a5cbde1063d75a06158d0febc979:
  On 9 February 2016 at 15:34, Olivier Davignon davignon@cern.ch wrote:

[2016-02-09 21:59] mulhearn commented on #147
This is posted above in summary, but repeating here for questions:

I am proposing the following scheme for tags:
- I periodically tag the dev recipe branch, e.g. "l1t-tsg-v0".
- for each tag, I record the hash of the most recent commit included in dev-recipes from the calo and muon development branches, and anything else appropriate. As in example above.
- when speakers present talks, they should

[2016-02-09 22:15] mulhearn commented on #147
@fwyzard I guess I was planning to keep the HLT integration somewhat orthogonal to this.  I don't believe we need our latest and greatest emulators for that work, or do I misunderstand something?  The problem is HLT reco brings in a bunch of dependent packages... and also we'll be updating things here that I don't want to put in release immediately.  OK from you end if these are separate?

[2016-02-09 22:21] jimbrooke commented on #147
"@jimbrooke can you confirm"  - sorry, but I have no more information than anyone else about this.

[2016-02-09 22:26] mulhearn commented on #146
An alternative is to do:

[code]

and take note of the commit hash <X> directly below the last commit (a merge).  Then check that:

[code]

shows zero differences... and so the last commit is an empty merge commit.

So now:

[code]

will remove it, leaving all real commits in tact.

[2016-02-09 22:27] mulhearn commented on #146
All of these can blow up in peoples faces, so I haven't suggested any of this, since I find the merge commits easy to ignore.

[2016-02-09 22:38] mulhearn opened #149 "Integration of Calo Layer1 with rest of L1T"
Both the Layer-1 unpacker and packer are now in the standard dev-recipes branch.  I've created a copy of this branch for additional Layer1 work.  The new recipe is:
[code]
Outstanding issues:
 - re-establish your tests now that unpacker location has moved
 - fix re-Emulation (see below)
 - Mike should turn on unpacking in L1T standard sequences
 - Status of 1x1 HF TPs?

[2016-02-09 22:40] mulhearn commented on #129
This has all been integrated with latest development branch, and even seems to work for sim sequences!  Let's follow up on the remaining issues here:  #149.

[2016-02-09 22:40] #129 closed

[2016-02-09 22:49] mulhearn commented on #149
@SridharaDasu @gomber lets follow up on the Layer1 integration here.  I've gotten both unpacker and emulator in the "dev-recipe" branch.  For MC simulation, it seems to work (i.e. stage-2 produces non-zero calo candidates) but it does not work for re-Emulation on RAW data.  To see what is failing for me, please (1) follow recipe as above, (2) switch over to using Layer1 in the top-level Calo confi

[2016-02-09 22:52] mulhearn commented on #149
The offline management requested that we put all our unpacker into a single package.  I convinced them we at least needed two:
- L1TXRawToDigi, for standalone unpackers, such as Layer1
- L1TRawToDigi, for unpackers using the L1T unpacker framework

The point is your stuff is now in L1TXRawToDigi, and probably I broke your tests.  Please have a look and fix as needed.

[2016-02-09 22:52] mulhearn commented on #149
All the couts have been changed to message logger errors.

[2016-02-09 22:53] mulhearn commented on #149
I think thats it...

[2016-02-09 22:53] fwyzard commented on #147
@mulhearn - sure, we do not need the HLT integration here.
I listed because it is among the important topics, it's fine to have it in its own branch.

[2016-02-09 22:56] mulhearn commented on #128
The few remaining items in this one are tracked elsewhere.  This one is closed!

[2016-02-09 22:56] #128 closed

[2016-02-09 22:59] mulhearn commented on #119
We are handling this one in the CMS driver sequences.   This one is closed.

[2016-02-09 22:59] #119 closed

[2016-02-09 23:00] mulhearn commented on #123
Not sure if this issues is still needed... leaving open for now.

[2016-02-10 09:29] SridharaDasu commented on #149
I fixed the instructions : "l1t" not "1t" and "--name-only" not "-name-only".
I changed the test python in L1TCaloLayer1/test and verified that it runs correctly.
Next up is your report of error - we shouldn't be using tower 29 in Layer1, so somewhere there is a screwup. Shouldn't be too hard to avoid 29 :)

[2016-02-10 09:45] mulhearn commented on #149
Uggghhh... thanks for fixing.  Sorry I inflicted the same bugged recipe twice (the perils of cut and paste)!

[2016-02-10 10:22] SridharaDasu commented on #149
OK - fixed the tower 29 issue.  I was inadvertently letting using caloEta = -29 through to Layer1, which is a no-no just as well as caloEta=+29.

Now crashing on:

----- Begin Fatal Exception 10-Feb-2016 11:18:29 CET-----------------------
An exception of category 'StdException' occurred while
   [0] Processing run: 256843 lumi: 325 event: 468519434
   [1] Running path 'L1TPath'
   [2] Calling eve

[2016-02-10 11:46] mulhearn commented on #103
Not stalled.  There's some problem already with (a) ... the new standard sequences I'm relying on aren't working since the move to pre6.  I'm working on it.

[2016-02-10 12:01] mulhearn commented on #149
Thanks for the quick fix...  that next one look like it is not your problem ;-)

[2016-02-10 12:10] Martin-Grunewald commented on #103
@rekovic
What is the status of the trigger summary producers? Did you start to work on it, or should I take a look
(of course needing your help on the object interpretation, esp. global sums and MET-like etc.)?

[2016-02-10 13:24] davignon commented on #140
@mulhearn
I agree with your concerns.

These files:
   L1Trigger/L1TCalorimeter/data/Flat_Tau_iso_LUT_eff70.txt
   L1Trigger/L1TCalorimeter/data/Flat_Tau_iso_LUT_eff80.txt
   L1Trigger/L1TCalorimeter/data/Flat_Tau_iso_LUT_eff90.txt
have been updated correctly inside the l1t-dev-recipe-CMSSW_8_0_0_pre6 branch (and the caloStage2 8_0_0_pre5 branch). I see the correct versions in both places. Next ti

[2016-02-10 13:27] davignon commented on #140
Thanks for that.
On the tau side, this looks OK.

Le 9 févr. 2016 à 22:39, mulhearn notifications@github.com a écrit :

[2016-02-10 14:03] rekovic commented on #103
@Martin-Grunewald  Hi Martin, Yes.  I have adapted the TriggerSummaryProducerRAW and TriggerSummaryProducerAOD.  The code is pushed 7a8b151ee3b84180ed975b340af09f9be128c5ec to my branch cms-l1t-offline:rekovic-hlt-80x.

The HLTL1TSeed module stores the TriggerTypes and  Refs to Stage2 L1T passing objects  together with the types into the TriggerFilterObjectWithRefs.   In the method dumpTriggerFilt

[2016-02-10 14:08] jimbrooke opened #150 "Re-emulation for Stage 2"
@apana @mulhearn
I think the customisation for re-emulation of stage 2 is missing HCAL TPs.  Right ?  We need to include this for consistency with results presented so far, and certainly when we include HF 1x1 TPs.
https://github.com/cms-l1t-offline/cmssw/blob/l1t-dev-recipe-CMSSW_8_0_0_pre6/L1Trigger/Configuration/python/customiseReEmul.py

[2016-02-10 14:30] mulhearn commented on #150
OK, will update.  I actually reverted this to better coincide with the Stage-2 calo customization...  anyway, both modes were to be supported but easiest is to make re-emulating the default for now.

[2016-02-10 14:34] jimbrooke commented on #150
Stage 2 calo customisation does include HCAL TPs
https://github.com/cms-l1t-offline/cmssw/blob/l1t-calostage2-CMSSW_8_0_0_pre5/L1Trigger/Configuration/python/customise_Stage2Calo.py

[2016-02-10 14:36] mulhearn opened #151 "Problem with packing Regional Muon Candidates in since pre6"
Since pre6, maybe longer, there is a problem with packing the Regional Muon Candidates during the DigiToRaw step.  To get standard sequences working for now, I've disabled this part of the packer in commit df5994975faefd697694d61b59eb6781cc041063.  To reproduce the problem, follow the standard recipe for dev recipes at issue #147, revert that changes from that commit, and run the test program:
[co

[2016-02-10 14:37] mulhearn commented on #151
@thomreis @jlingema can you have a look at this one?

[2016-02-10 15:40] mulhearn commented on #103
@Martin-Grunewald I'm about to post the answer for part (a).  Its been tested that this new hlt unpacker snippet recaptures the simulated stage-2 digis exactly, but I haven't yet tested object map or uGT output extensively but these modules do also run in the sequence and produce the expected output.  I'm going to move on to the L1REPACK (b) task and leave further testing for later.

[2016-02-10 15:57] mulhearn commented on #103
The new sequence is defined and tested here:
https://github.com/cms-l1t-offline/cmssw/commit/d71a370c5dd95c01ce21b9822ee0798a04bc99d1#diff-6ee14fd888f62527576427ebc129ffdcR44
For now you'll need to merge in cms-sw#13233 to include some bug-fixes since pre6, in order for this sequence to run.

[2016-02-10 15:59] mulhearn commented on #103
(Now onto L1REPACK)

[2016-02-10 16:05] mulhearn commented on #140
Our own fork of data repository for L1Trigger/L1TCalorimeter/data is here:
   https://github.com/cms-l1t-offline/L1Trigger-L1TCalorimeter
It won't yet contain any updates from our dev branches (under L1Trigger/L1TCalorimeter/data) since I only update the data repo in advance of making PRs into official CMSSW.  The framework seems to sensibly put anything locally at L1Trigger/L1TCalorimeter/data on

[2016-02-10 16:13] mulhearn commented on #150
Sorry... misremembered.  It was the TSG work flows I was emulating.  Anyway, I will update.

[2016-02-10 16:15] Martin-Grunewald commented on #103
@mulhearn
This part is problematic for us:

[code]

As this part (a) it has to live in ConfDB, please change the type of the module
from `"l1t::GtProducer"` to something which does NOT contain a `namespace::`
as this can't be handled by ConfDB. I.e., please do a typedef to, say, "L1TGtProducer"
or so, and put that type into the FW macro to declare it as a plugin.

Further, I see that this module h

[2016-02-10 17:14] thomreis commented on #151
There are in fact two bugs. One of them leading to the exception.
It seems that the track address map for the EMTF muons is not filled correctly.

[2016-02-10 17:26] mulhearn commented on #103
We will fix the l1t namespace issue.   extInputTag:  we don't yet have an emulator for external conditions, but your sequence can certainly use the unpacked  version, will fix that.  We will make 'startup' disappear.

[2016-02-10 17:28] mulhearn commented on #103
Do I understand correctly that you do _not_ need to re-emulate prescales _online_?  If so, we'll simply make those parameters go away for you, and provide a separate configuration in case you wish to prepare L1T input (with simulated prescales).  Will this work?

[2016-02-10 17:30] mulhearn commented on #103
Note that we do not yet have O2O or even a condition defined yet for uGT pre-scales.  This was advertised in TSG and we were told a recipe involving local config file for prescale emulation will suffice for now.

[2016-02-10 17:33] thomreis commented on #151
@mulhearn should the uGMT packer not use the collections that were produced by the uGMT emulator as inputs? Also for the TF muons it packs? In the configuration of the module [1] the output muons of the TF are used as input for the packer. I believe the input should always be simGmtStage2Digis.
The reason for the exception is most likely that the EMTF emulator has not yet implemented the new EMTF

[2016-02-10 17:44] Martin-Grunewald commented on #103
@mulhearn

Concerning prescale, for case (a) we assume the L1T prescales have already been applied, online for real data in the L1T hardware, and the raw data containing L1A events is then pushed into HLT.
(For MC, all prescales are usually set to 1 at L1T and HLT so as to not waste precious MC events).

Now, at HLT we would just need to know WHICH L1T prescale column was used (as we have the same

[2016-02-10 17:46] thomreis commented on #151
Ah no that was wrong. The uGMT does not produce these collections. Only the uGMT unpacker produces them.

[2016-02-10 17:49] thomreis commented on #151
So the only thing to do then is to include a dummy track address until the EMTF emulator has implemented the new scheme.

[2016-02-10 18:12] mulhearn commented on #142
These workflows are starting to look decent...

[2016-02-10 18:13] mulhearn commented on #150
Its fixed:  https://github.com/cms-l1t-offline/cmssw/commit/e95c1ebe596224134ca2b2615b43e37aed3ca768

[2016-02-10 18:17] mulhearn commented on #150
This one is closed.

[2016-02-10 20:20] thomreis commented on #151
d208c83409af227e856421455774e757bb0c6532 contains a protection against the exception that was observed. There is a change to the RegionalMuonCand data format header but it affects only the enums in there and not what is written in an edm file. So I guess that change is fine.

b3d3a628e3284bb84b0b4cbb428c5606e3523783 fixes a problem that empty muons were only filled in the first BX if no muon was f

[2016-02-10 20:31] apana commented on #150
Hi Mike,

Not quite.  I think in Configuration/python/customiseReEmul.py you need to
comment out the line

process.simCaloStage2Layer1Digis.hcalToken = cms.InputTag("hcalDigis")

I also see the problem in Configuration/python/customise_Stage2Calo.py, but
I'm not sure if this customisation file is used by anyone anymore.

-Len

On Wed, Feb 10, 2016 at 7:17 PM, mulhearn notifications@github.com wrot

[2016-02-11 06:09] mulhearn commented on #150
Ah, right.  I see now why the confusion.  In Jim's dev branch (which includes stuff for 1x1 HF TPs he hasn't released to dev-recipe yet) he re-Emulates HCAL TPs.  But in the dev-recipes branch there's no TP re-Emulation because these updates haven't been merged yet.

[2016-02-11 06:12] mulhearn commented on #151
@thomreis, Excellent, Thanks for the quick fix, will pick these today...

[2016-02-11 06:21] mulhearn commented on #151
@abrinke1 @bmichlin it seems like maybe the series of commits you have after 3d4ac926e29decc79a223903bf546742dad0b61e in https://github.com/cms-l1t-offline/cmssw/commits/l1t-muon-pass2-CMSSW_8_0_0_pre5 should fix the problem as well?  Are these ready to go into dev-recipe  branch?

[2016-02-11 06:26] mulhearn commented on #150
I've made the fix but lxplus seems to be down now so I can't test and push yet..

[2016-02-11 08:16] mulhearn commented on #142
I think next is to test that work flow (4) is bitwise equivalent to reEmul.py.

[2016-02-11 08:23] abrinke1 commented on #151
@mulhearn https://github.com/mulhearn With the commits I made, the EMTF
unpacker now outputs a RegionalMuonCandBxCollection (with the BX
artificially set to 0 for now.)  However, we do not yet have any packing,
so if that's the problem, my latest commits won't fix it.

As regards the dev-recipe, I would be happy for my commits to go in there -
it would be a great help for MWGR 2.  I pulled the lat

[2016-02-11 08:28] mulhearn commented on #142
I have a proposal for warnings that I'm happy to implement eventually if @jimbrooke and @apana agree:
- if an input label is set to "none", a warning at start will be issued that input will not be processed.
- module will not attempt to recover from event anything with label "none" (no per event warnings in this case)

[2016-02-11 08:32] mulhearn commented on #150
OK, now should be fixed.  Ignoring "Configuration/python/customise_Stage2Calo.py" since that will just add conflict when the calo dev branch is merged back in.

[2016-02-11 08:32] #150 closed

[2016-02-11 08:35] mulhearn commented on #151
Note that dev-recipe is our development branch on top of what is already in CMSSW.  So being in dev-recipe does not automatically imply it will make it for MWGR.  However, I will try to sync things one last time before Monday...

[2016-02-11 09:24] jimbrooke commented on #142
Sounds good to me.  This was always the plan, it just never quite happened...

[2016-02-11 09:37] mulhearn commented on #151
@abrinke1 can you move your update of "hwToLogicLayer.xml" into "hwToLogicLayer_v2.xml" and update your code to use _v2 of xml instead?  This is explained in just posted hypernews thread here:

   https://hypernews.cern.ch/HyperNews/CMS/get/L1TriggerSW/578.html

[2016-02-11 09:43] akalinow commented on #151
@mulhearn which changes to hwToLogicLayer.xml you mean? This file is a config file for OMTF, not EMTF.

[2016-02-11 10:47] fwyzard commented on #103
as @Martin-Grunewald said, we do not apply prescales to the L1 inside the HLT.

The `hltGtStage2ObjectMap` is expected to produce the objects map matching the L1 decision that has already happened (in the hardware, or in the MC, or in the emulation, etc.), so it should never apply prescales or masking.
My understanding of how the chain works is
- "something" runs the L1 trigger and produces the DI

[2016-02-11 10:53] abrinke1 commented on #151
@mulhearn I don't think I changed that file.  The history indicates the
only changes were by @akalinow 10 days ago:
https://github.com/cms-l1t-offline/cmssw/commits/l1t-muon-pass2-CMSSW_8_0_0_pre5/L1Trigger/L1TMuon/data/omtf_config

On Thu, Feb 11, 2016 at 10:43 AM, Artur Kalinowski <notifications@github.com

[2016-02-11 13:12] mulhearn commented on #151
Sorry, yes, my bad... its this commit 694c341271ed335c41c5d6b113901b6c338844ed.  @akalinow can you change this file to _v2.xml and update your configs to use _v2.xml?

@mulhearn: I have made an update with commit 8d55eabaf1e4448b964f4a0353d345352b0f5063

[2016-02-11 13:45] mulhearn commented on #151
@abrinke1 @bmichlin @thomreis it seems when I rebase the muon dev branch onto the dev-recipe branch, the Gt unpacker crashes...   Can you checkout this branch:
   https://github.com/cms-l1t-offline/cmssw/tree/l1t-muon-CMSSW_8_0_0_pre6
and debug the errors when running:

[code]

I'm adding @blwiner and @puigh since this is their unpacker, but there code runs as is in dev-recipe (I'll confirm this)

[2016-02-11 13:46] mulhearn commented on #151
(Note for motivation that the EMTF updates wanted for MWGR won't be able to go in until this is fixed!)

[2016-02-11 13:59] mulhearn commented on #151
Misfire!  This is crashing in dev-recipes too...  please hold for now.

[2016-02-11 14:19] jimbrooke commented on #149
Mike, since the error is in GT it sounds like we should start testing with Layer 2.  How should we proceed?  We'll need to merge the changes on this branch with those on l1t-calostage2-CMSSW_8_0_0_pre5

[2016-02-11 14:19] akalinow commented on #151
I have renamed the new XML OMTF config files with commit 8d55eabaf1e4448b964f4a0353d345352b0f5063

[2016-02-11 14:25] mulhearn commented on #151
Exactly.  Thanks!

[2016-02-11 14:30] mulhearn commented on #149
My plan was to merge this stuff back into dev recipes (just the few fixes of Sridhara are missing) then rebase your branch onto dev recipes, test everything is working, and hand it off to you.

[2016-02-11 14:34] jimbrooke commented on #149
Sounds good - this is next on my list of things to look at

[2016-02-11 15:06] mulhearn commented on #151
This is so weird... I always check the main programs before committing anything to dev-recipe branch, which is why I confidently blamed you folks, but now I am getting these crashes even I revert back to an earlier tag.  Something very weird is happening.

[2016-02-11 15:11] mulhearn commented on #149
This is delayed by some weirdness.  I _always_ check before pushing to dev-recipe branch that all standard test run... this is the whole point of that branch.  But now I am getting this same crash reported above, even if I install an older tag that I formerly used successfully to produce plots.  Sorry, I have to sort this out to proceed with any semblance of sanity.

[2016-02-11 15:13] thomreis commented on #151
We saw crashes of the uGT when the uGMT was sending muons in BX outside of -2 to +2. This was fixed however in the uGT and also the uGMT has now a window of 5 BX configured from the ES.

[2016-02-11 15:27] mulhearn commented on #151
So weird... now getting this crash on code that is many days old running straight out of box.

[2016-02-11 15:29] mulhearn commented on #151
Uggghhh.  I think I forgot to follow my own $%^&ing recipe.  Need to manual checkout L1TGlobal for some weird reason.

[2016-02-11 16:00] mulhearn commented on #149
Mystery solved:  I've known since pre6 that L1TGlobal must have some missing lib dependency which requires checking it out manually until fixed...  Sridhara, if you just "git cms-addpkg L1Trigger/L1TGlobal" and recompile, your code should run now...   anyway, this will all be put into our integration branch now.  It should go quickly now that I have regained my sanity and we have direct detection

[2016-02-11 16:33] mulhearn commented on #151
Yeah, that was it.  Your code is fine.  Thanks all, this one is closed.

[2016-02-11 16:33] #151 closed

[2016-02-11 17:40] mulhearn commented on #149
OK, this is merged into dev-recipe branch now and everything appears to be working.  Closed!

[2016-02-11 17:40] #149 closed

[2016-02-11 23:06] mulhearn commented on #147
The latest update, which is tagged l1t-tsg-v1, merges completely (and so retires) the muon dev branch and Len's ntuple dev branch.  It also includes the bitwise emulation of Stage-2 Layer-1 emulation (but it is not on by default yet).  It also includes Len and Jim's latest set of updates for the cmsDriver based ntuple production.

[2016-02-12 05:46] Martin-Grunewald commented on #103
@rekovic
Any progress in fixing the issue with the missing Refs? Otherwise, please make a PR and we ask the FwEDM team for help. Actually, please make a PR anyway :)

[2016-02-12 09:49] mulhearn commented on #140
@jimbrooke:  currently testing a rebased version of calostage2 dev branch onto latest version of dev recipe.  So far so good, but I want to run all the tests before handing it off.  Should be soon.

[2016-02-12 09:59] mulhearn commented on #148
@puigh @blwiner here's a nice example...  check out this branch:
https://github.com/cms-l1t-offline/cmssw/tree/l1tglobal-make-crash-CMSSW_8_0_0_pre6
and run the test program:

[code]

this fails from a config file error (which I'll fix in the main branch) but after exiting, GtBoard crashes during dtor.  This will cause people to constantly falsely accuse us for their config file errors, making our

[2016-02-12 10:01] mulhearn commented on #148
While at it, see if you can spot any missing dependency of L1TGlobal.  I think when you check out above, you'll notice L1TGlobal doesn't get checked out automatically... but code actually crashes everywhere in case you don't first `git cms-addpkg L1Trigger/L1TGlobal` and recompile.  My guess its missing something from Muons, but haven't gotten a chance to look closely yet.

[2016-02-12 10:02] mulhearn commented on #148
The crashes from GtBoard look like:

[code]

[2016-02-12 10:10] mulhearn commented on #148
(Just to be totally clear, I don't want you to fix the original config file error that triggers this, I want you to fix the subsequent crash in GtBoard...)

[2016-02-12 10:42] mulhearn commented on #140
@jimbrooke:  the rebased version of calostage2 dev branch is here:
https://github.com/cms-l1t-offline/cmssw/tree/l1t-calostage2-CMSSW_8_0_0_pre6

I checked all your calo-stage-2 cms driver based workflows and they all ran... I explicitly checked the ntuple output of:

[code]

and it looked reasonable at the level of Et distributions for all unpacked / reco / re-Emulated objects.

Len's CMS driver

[2016-02-12 10:50] mulhearn commented on #140
Requests:
- To reduce versioning, please consider retiring `customise=L1Trigger/Configuration/customise_Stage2Calo.Stage2CaloFromRaw`
  for the full L1T re-Emulation in:
  `--customise=L1Trigger/Configuration/customiseReEmul.L1TReEmulFromRAW`
  if the latter is not found to be deficient for you.
- I found one regression in test:
  `cmsRun L1Trigger/L1TCommon/test/runL1T.py`
  which fails with

[co

[2016-02-12 10:53] mulhearn commented on #140
One important note:  you need to follow the recipe for dev-recipe #147 in building this branch, namely I am worried about `git cms-addpkg L1Trigger/L1TGlobal` until we fix the problem.  I could trivially fix this by adding a commit there, but that would complicate testing the actual fix (of lib dependencies) which hasn't happened yet....

[2016-02-12 10:57] apana commented on #147
Hi Mike,

I tried setting up a new project area using the new l1t-tsg-v1 tag, but failed in the initial
git cms-merge-topic cms-l1t-offline:l1t-tsg-v1  step.
It crashed with message:
error: no such remote ref 26009a63cb61fa292f650cb4763ccd7d5e94aadc

[2016-02-12 10:57] mulhearn commented on #140
(Updated first comment summary to better describe current state.)

[2016-02-12 11:00] mulhearn commented on #140
One last question:  can I delete yet all other calostage2 stage2calo topic branches not mentioned in summary above?  Any other branch you want me to keep around longer for backup?

[2016-02-12 11:03] mulhearn commented on #147
Hmmmmm.  I'll investigate.  For now just use recipe for latest and greatest...

[2016-02-12 11:09] jimbrooke commented on #140
The CaloTpgRecord is an HCAL ES object that the Layer 1 module requests to interpret the HCAL TP data.  Previously, the module was using an RCT ES object to do the same thing.  So L1Trigger/L1TCommon/test/runL1T.py is missing some ES setup that is standard in the cmsDriver jobs.

[2016-02-12 11:11] jimbrooke commented on #140
Regarding the other questions, I'll alert the developers.  I cannot think of any branches we need to keep, but I'll ask the others.

[2016-02-12 11:12] jimbrooke commented on #140
@apana asked about bugfixes for HT/MHT.  These are listed below.  They could be merged into the TSG branch, but we cannot guarantee yet that the HT/MHT is fully understood.

6495cf8be9bfec7452575aad63b8982ae4aea4e4
f8b5cd4bd9458c19eccd90868ef92653e46063d5
3e850dc647527f37c8d3e248d7a767efe069eebb
8ad47956fd3a2184377159cd5993bf287918b2ca
b6ee4cf67db3307f92ab2e512e0b65642623e02c

[2016-02-12 11:35] rekovic commented on #103
@Martin-Grunewald
I just made a TEST only PR https://github.com/cms-sw/cmssw/pull/13262

A simply Producer is provided in the sequence HLTrigger/HLTfilters/test/devHLT_Stage2.py
after the HLTL1T seed to test for Ref<BXvector>
Simple registering  of Ref<BXvector> to the Event crashes.  Trying to look deeper into the BXvector, and performing tests.

[2016-02-12 11:53] mulhearn commented on #103
Ooof... it seems we still have work to adapt bx-vector to play nice with edm::Ref.

[2016-02-12 13:03] jimbrooke commented on #140
@mulhearn I tried using customiseReEmul.L1TReEmulFromRAW in place of customise_Stage2Calo.Stage2CaloFromRaw but there are no forward jets.

The difference is due to lines 20-34 of customise_Stage2Calo.py
https://github.com/cms-l1t-offline/cmssw/blob/l1t-calostage2-CMSSW_8_0_0_pre6/L1Trigger/Configuration/python/customise_Stage2Calo.py#L20

Not sure if you want to add them to customiseReEmul or fin

[2016-02-12 13:09] mulhearn commented on #140
Got it.  Just use your version for now and I'll push an update when I can...

-Mike

[2016-02-12 13:56] mulhearn commented on #103
@rekovic I believe I have a fix for this.  Let me test more and then I will send you a commit to cherry-pick.

[2016-02-12 14:27] mulhearn commented on #103
Yes, its working:

[code]

I'll push the fix shortly so you can start working with it, but I'd still like to confirm I can read the read the payload properly in a downstream module.

[2016-02-12 14:56] rekovic commented on #103
@mulhearn   I think I have a fix also (I conIt took a long time to compile)    Had to add missing statements  with edm::Wrapper for for Refs  in DataFormats/L1Trigger/src/classes_def.xml.  My test module now runs on Refs.

[2016-02-12 15:05] Martin-Grunewald commented on #103
@mulhearn @rekovic
Please make sure your two fixes are the same or otherwise clarify any differences....

[2016-02-12 15:06] mulhearn commented on #103
Indeed, thats all that was missing.  Here's a commit that updates classes and classes_def for all L1T objects:
287f4b573de4fa5aae8df20b0739bd81d6378ec3

[2016-02-12 15:07] mulhearn commented on #103
This was tested with a module that writes every L1T type of Ref / RefVector.  Haven't tested yet that we can read these back.

[2016-02-12 15:07] Martin-Grunewald commented on #103
...and update the PR :)
Thanks a lot!
BTW, I see the PR applies cleanly to 800pre6 but shows merge problems in github
(which tests against the most recent 80X IB). So eventually the merge issues need to be fixed
to that the code can go in.

[2016-02-12 15:10] mulhearn commented on #103
Yeah, it needs a rebase... we'll clean that up when we have something working all the way through.

In fact, @rekovic, if you stop by I'll help you rebase to an IB already now, which should substantially reduce your rather extensive compiling...

[2016-02-12 15:10] jimbrooke commented on #140
@apana @mulhearn the fixes listed above for HT/MHT should be merged with the TSG branch.  We have checked the turn-ons and they look good.  I expect comparable performance to stage 1, although the scale may be a bit different.

[2016-02-12 15:13] mulhearn commented on #140
Doing this now: we had an emergency situation with L1T/HLT interface that has just been resolved...

[2016-02-12 15:14] rekovic commented on #103
@mulhearn  Sounds good!

[2016-02-12 17:12] mulhearn commented on #147
This is probably useless info at this point, so recording here and deleting from the summary above:

The retired muon development branch:
https://github.com/cms-l1t-offline/cmssw/tree/l1t-muon-pass2-CMSSW_8_0_0_pre5
is entirely synced (dddb4a765d45328fb3ae99f94a7f215db09b8283) No more commits should be made to this branch.

The retired calo stage-2 development branch is now in 80x to make use of 1

[2016-02-12 17:28] jimbrooke commented on #140
@mulhearn here is the list of commits to enable HF 1x1 TPs.  Since this is a long list I am testing this set on top of l1t-dev-recipe-CMSSW_8_0_0_pre6, and will post here if successful....
92d5635bf9dec4a21b805400e6470e5c9c19f559
c673d9860634f84c7e4e6c0a48fa6171e07589fc
c673d9860634f84c7e4e6c0a48fa6171e07589fc
c673d9860634f84c7e4e6c0a48fa6171e07589fc
c4512d4e0d174d012cc321c4ba3e80aa676074f2
199474

[2016-02-12 17:35] mulhearn commented on #140
Excellent.

[2016-02-12 17:36] jimbrooke commented on #140
Actually, if there is a clever git way to merge _everything_ in the calo dev branch onto the dev recipe branch, this would achieve what we want for forward jets...

[2016-02-12 19:37] blwiner commented on #148
@mulhearn you can fix the GtBoard crash by removing the "reset()" statement
from the destructor.   I don't know why that statement was put there but we
don't need it. I verified this fixes the crash.  I have removed the
statement in the l1t-global branch, but perhaps you want to fix it in the
branch you are working on.

 With regard to missing dependency. I'm not sure where to look for this and
I

[2016-02-12 20:09] mulhearn commented on #148
OK, that will work, although it seems like a bug in bxvector to crash on reset under any circumstance...  that should always be a valid operation.

[2016-02-12 20:12] mulhearn commented on #148
Just follow the recipe over at #147 but leave out the manual "git cms-addpkg L1TTrigger/L1TGlobal".  You'll see it crash in Gt code, I suspect because something L1TGlobal depends on has changed, but the library isn't rebuild because dependencies are incomplete... just a guess.

[2016-02-12 20:40] fwyzard commented on #147
I think that is a limitation of `git cms-merge-topic` , I'll see if I can fix it.

[2016-02-12 20:43] apana commented on #147
Hi Andrea,

Can you try git fetch cms-l1t-offline  and see if that fixed the problem?

-Len

On Fri, Feb 12, 2016 at 9:40 PM, Andrea Bocci notifications@github.com
wrote:

[2016-02-12 20:44] mulhearn commented on #147
(I guess he's looking for a better fix than having to fetch the entire repo locally...)

[2016-02-12 20:47] apana commented on #147
BTW, I think this branch is already obsolete.  Namely it's missing the
mHT/HT fix that's just been put in the dev-recipe branch. Maybe you want to
try running with that?

-Len

On Fri, Feb 12, 2016 at 9:43 PM, Leonard Apanasevich apana@fnal.gov wrote:

[2016-02-12 20:49] fwyzard commented on #147
Actually I'd rather see the HTT/MHT updates propagated here, since this is the "official" recipe.

[2016-02-12 20:57] apana commented on #147
Right.  There will be another tag that would then become the "new" official
recipe. I just wanted to let you know there were some updates since the tag
was released and if you wanted to try it.

-Len

On Fri, Feb 12, 2016 at 9:49 PM, Andrea Bocci notifications@github.com
wrote:

[2016-02-12 21:03] mulhearn commented on #147
Sorry, indeed, only updated in summary.  v2 is out which includes the mHT/HT fix.

[2016-02-12 23:33] fwyzard commented on #147
Sigh, I have to give up on `git cms-merge-topic` for the moment. I know where the problem is, and it should be able to support tags as well as branches, but git is not helping :-(

I confirm that doing

[code]

is a valid workaround.

[2016-02-13 02:21] thomreis commented on #147
If I use the workaround for the tag like below I get an error saying that the newly checked out release is not a git repository.

Recipe:

[code]

Leads to:

[code]

I did the
`git cms-addpkg L1Trigger/L1TCommon`
before
`git remote add cms-l1t-offline git@github.com:cms-l1t-offline/cmssw.git`
to work around this.

[2016-02-13 05:36] Martin-Grunewald commented on #103
@mulhearn
I see you have closed #13233. So where will this part go?

[2016-02-13 06:34] fwyzard commented on #147
Hi Thomas,
you can do

[code]

.A

[2016-02-13 08:07] gennai commented on #147
Hi,
Could you specify which fix it is? The one concerning the use of corrected jets for the htt?

Best,
S.

[2016-02-13 08:23] fwyzard commented on #147
@thomreis , you can do

[code]

[2016-02-13 15:37] mulhearn commented on #147
(Updated prescription for specific tag.)

[2016-02-13 15:45] jimbrooke commented on #140
Update the cmsDriver commands above to include HF 1x1 TPs
https://github.com/cms-l1t-offline/cmssw/issues/140#issuecomment-179258458

[2016-02-13 16:05] mulhearn commented on #103
@Martin-Grunewald I @mentioned you at cms-sw#13271 which looks to be working great to me.  Now we just need cleanup of Gt emulator interface as you requested plus demonstration that Vladimir's seed filter is properly writing objects to event record.

[2016-02-13 16:20] rekovic commented on #103
@Martin-Grunewald @mulhearn
Now I am able to store references to l1t objects in the Event, so that is all fine.
But at the moment, the TFOWR still does not keep them. Investigating further.

[2016-02-13 18:54] rekovic commented on #103
@Martin-Grunewald @mulhearn

Solved 9ad317927cab3c25d9ec88545dc5751cdc98ed17. Now TFOWR is retaining the Refs.   Swap methods for Refs were missing in TriggerRefCollections. Will provide a PR.
Example printout:

  HLTL1TSeed: seed logical expression = L1_SingleS1Jet36 AND L1_SingleEG10

  L1Mu seeds:      0

  L1EG seeds:      1
  L1EG      pt = 11.5 eta =  -4.4805  phi =  1.566

  L1Jet seeds:

[2016-02-13 19:36] rekovic commented on #103
@Martin-Grunewald  @mulhearn    Made PR #13275.
Tomorrow I can add a simple Example HLT Producer that uses L1T Refs from TFOWR
That would  probably be useful.

[2016-02-13 23:25] mulhearn commented on #103
@Martin-Grunewald please see cms-sw#13271 for a substantially cleaned up param layer interface between HLT/L1T, based on our discussions.  That pull request also provides the requested L1REPACK capability.

[2016-02-13 23:30] mulhearn commented on #103
The new HLT config fragments now look like this:
https://github.com/cms-l1t-offline/cmssw/blob/l1t-hlt-80x/L1Trigger/L1TCommon/test/runHLT.py#L36

[2016-02-13 23:51] mulhearn commented on #103
@Rekovic, its looking good, but I think one thing is missing that I didn't appreciate until our discussion above (regarding Masking).  The re-Emulated GT Object Map will not have either prescales or masks applied.  Instead, you should use the "actual" GT output algorithm bits (unpacked from RAW) which might differ from the ones recorded in the re-Emulated GT Object Map due to pre-scales and masks.

[2016-02-13 23:53] mulhearn commented on #103
(comment edited for typos that made that confusing... probably best to read that on github)

[2016-02-14 09:56] mulhearn commented on #146
"How I Learned to Stop Worrying and Love the Merge":  This is a popular topic of debate, and I wouldn't disagree with any sane workflow philosophy, but since you brought up the topic, I'll share my (evolving) thoughts on the matter having worked through several different rebase/merges now with varied from miserable failure to straightforward success.

I started out hating the way the whole git PR

[2016-02-14 09:56] #146 closed

[2016-02-14 11:15] rekovic commented on #103
@mulhearn The config hook for GT Object Map already exists, and it is used
https://github.com/cms-l1t-offline/cmssw/blob/9ad317927cab3c25d9ec88545dc5751cdc98ed17/HLTrigger/HLTfilters/test/devHLT_Stage2.py#L119-L128

[2016-02-14 13:40] mulhearn commented on #103
@rekovic: I'm talking about a hook for the _unpacked_ GT output which is different from _re-Emulated_ GT Object Map.  Let's Skype...

[2016-02-14 15:19] Martin-Grunewald commented on #103
@mulhearn @rekovic @fwyzard

On another topic: the l1extra migration of downstream modules: in 800pre6, there are 128 files
referring to a type from the `l1extra::L1*` namespace according to

[code]

Either this is migrated centrally by L1T, or, since the L1T team is very busy, by TSG/POGs/PAGs.

If it is the latter, we would need a translation table (eg, is the migration consisting of only change

[2016-02-14 15:38] fwyzard commented on #103
This needs to happen within the next two weeks, so I guess it has to be TSG, POGs and DPGs. I don't think PAGs own such code, but I did not explicitly check.

Given the current time scale (i.e. calendar year 2016), we should keep the old code unchanged, and add new versions of the affected modules dedicated to uGT/Stage 2.
Once that s in place, we can discuss with Physics and Offline whether we ne

[2016-02-14 22:17] mulhearn commented on #103
I'd prefer to write legacy -> upgrade converters and switch to using the upgrade formats everywhere in one clean switch, that preserves legacy/stage-1/stage-2 functionality.  The L1T software can handle any era in the same release.

Certainly our intention was for the new objects to drop in as close as possible to l1extra.

I'll have to look carefully through a few examples before I can provide a

[2016-02-14 22:18] mulhearn commented on #103
PR cms-sw#13277 merges Rekovic's latest with my updates for standard sequences and parameter cleanup.

[2016-02-14 22:21] mulhearn commented on #103
(@rekovic you can either put your new work on that branch, or I'll just cherry-pick any commits past 2d0b01422d23781e09ad0ca74519b74bbd121548 from your current branch.)

[2016-02-15 11:32] mulhearn commented on #103
@Martin-Grunewald @fwyzard @rekovic my impression is things are settled reasonably on the HLT/L1T front and I can turn close to my full attention now to the downstream modules, starting with making a Legacy->Upgrade conversion tool.  Is this a correct assessment, or are we still missing something in critical path for HLT?

[2016-02-15 12:19] Martin-Grunewald commented on #103
I'd agree. Let's hope the PRs get integrated quickly.

But why are you looking at a Legacy-to-Upgrade conversion tool? The upstream L1T is already
putting out the upgrade dataformat objects (replacing the old L1extra), so if anything we'd need
a upgrade to legacy "down" conversion as long as the down stream users of the old l1extra
objects are not yet converted/extended/duplicated to use the upgra

[2016-02-15 14:02] fwyzard commented on #103
I'm strongly against down-converting from Stage 2 to Legacy format: if we allow people _not_ to migrate their code now, it will take forever to happen (unless we do it ourselves).

I don't know if it is useful to up-convert from Legacy to Stage 2. The use cases I can think of are
- to run the 2016 (and later) HLT on the Run I or 2015 data;
- to re-analyse offline the Run I or 2015 data with a cons

[2016-02-15 14:05] Martin-Grunewald commented on #103
@fwyzard
ad 1) and ad 2) we'd run L1REPACK anyway, no? I do not think 2015 L1T and 2016 HLT makes much interest... ???

[2016-02-15 14:07] fwyzard commented on #103
@Martin-Grunewald
I agree 1. (run 2016 HLT on 2015 data as-is) does not make much sense.
About 2. (re-analyse) I meant offline analyses; for example, I do not know what are the status and plans for accessing the GT/uGT information in the mini-AOD.

[2016-02-15 14:09] fwyzard commented on #103
By the way, @bortigno mentioned that the current version of the seeding module would not take into account the L1 masks and prescales.
Is it the issue that the filter was reading the L1 results from the re-emulated collection ?
Is it still the case, or did @rekovic fix it this morning ?

[2016-02-15 14:11] Martin-Grunewald commented on #103
@fwyzard - fine but this should not have any priority for L1T/HLT/TSG whatsoever given that we are late .... IOW our highest priority should be to clone-and-modify the modules currently using the old l1extra.

[2016-02-15 14:16] fwyzard commented on #103
if you mean the offline analysis stuff, I completely agree. Indeed, the point of my comment was that the up/down conversion between Legacy and Stage 2 should not be among the priorities.

[2016-02-15 14:31] mulhearn commented on #103
@fwyzard, as a technical matter we (l1T) would still like the legacy conversion to upgrade format (at least for muons) so that we can do compare performance of Stage-1 and Stage-2 directly using the upgrade formats (right now we still use l1extra for Stage-1).  Agree this is not highest priority.

Also agree that if we provide a way out of deprecating l1extra, it will probably never happen downstr

[2016-02-15 14:34] rekovic commented on #103
@bortigno @fwyzard
No - to your 2nd question...Fix for the seeding module to use masks and prescales is NOT in yet in this (3.0) version in the PR.  Took us some time to rebase PR  this morning.
Yes - to your 1st question...The seeding gets the L1 results from the ObjectMap made by GT emulator (hence does not know of the masks and prescales) and should get it from RAW GT.

[2016-02-15 15:01] fwyzard commented on #103
Sorry, but I have seen way too many times temporary solutions become the norm.
So I'd rather have you spend some time writing down the instructions for the POGs to migrate from L1ExtraParticles to the new candidate formats, than writing a converter that allows them to postpone the work :-)
The Muons POG is alredy working on it, and we'll see during the workshop the status from the other ones, and

[2016-02-15 15:02] fwyzard commented on #103
Sorry, but I have seen way too many times temporary solutions become the norm.
So I'd rather have you spend some time writing down the instructions for the POGs to migrate from L1ExtraParticles to the new candidate formats, than writing a converter that allows them to postpone the work :-)
The Muons POG is alredy working on it, and we'll see during the workshop the status from the other ones, and

[2016-02-16 01:17] jimbrooke opened #155 "Change to ntuples in calo dev branch"
@apana @mulhearn I generated some ntuples for jet studies in the 800pre6 calo dev branch and I noticed that the config has been changed since last time I ran jobs
https://github.com/cms-l1t-offline/cmssw/commits/l1t-calostage2-CMSSW_8_0_0_pre6/L1Trigger/L1TNtuples/python

I know Len was planning some changes for the TSG branch, but I thought these changes might be discussed in advance.  (Y'know, b

[2016-02-16 01:25] jimbrooke commented on #155
And then tell me whether any of the other commits have any impact on our analysis.

[2016-02-16 01:40] jimbrooke commented on #155
OK, I _think_ run2_data auto GT in 800p6 gives us offline JEC V6, same as the file...  But I am not sure.

Len, please can you confirm ?

[2016-02-16 05:37] Martin-Grunewald commented on #103
@mulhearn
Could you please tell me where the (new) L1T menus themselves are located?
AFAIK they are only in the form of xml files? Where in CMSSW?
Also, do you have L1T menus (xml files or other)  corresponding to the three
use cases listed here:
pp: L1Menu_Collisions2015_25nsStage1_v5
HIon: L1Menu_CollisionsHeavyIons2015_v5_mc
ppref: L1Menu_Collisions2015_5TeV_pp_reference_v5_mc
How quickly can t

[2016-02-16 05:38] Martin-Grunewald commented on #103
@rekovic
What is the status of the template specialisation in TriggerSummaryAOD?
`TriggerSummaryProducerAOD::fillTriggerObject`  and `TriggerSummaryProducerAOD::fillFilterObjectMember`

[2016-02-16 06:45] mulhearn commented on #103
The current menu is here:
   L1Trigger/L1TGlobal/data/Luminosity/startup/L1Menu_Collisions2015_25nsStage1_v7_uGT.xml
I'm not sure what you are asking for exactly in the next part.  To reliably operate L1T emulation for Stage-1 (2015) we need to be in the 2015 Era, and will therefore run the legacy GT emulator in our standard sequences, the same as before.  If you are asking for an L1Menu for the u

[2016-02-16 07:34] Martin-Grunewald commented on #103
@mulhearn

What I mean by the other menus is the following: we'll also update the HIon and PRef HLT menus to use the stage-2 L1T (ie, your unpacking sequence). We have to do so as all HLT menus live in the same master table and several paths are shared between all three HLT menus.

Hence for those use cases we would then use L1REPACK on old data (running stage2 L1T) and feed that to HIon and PRef

[2016-02-16 08:01] mulhearn commented on #103
Excellent, I understand, thank you for the clarification!  I'll get back to you with either the XML files or a timescale for delivering them...

[2016-02-16 09:19] fwyzard commented on #103
@Martin-Grunewald , I agree we want to have the uGT version of the p-Pb and PbPb menus as well - but we should not let their (lack of) availability get in the way of the migration to uGT of the GRun menu.

I'd rather have the HIon and PIon workflows broken for a few weeks, than delay the GRun migration.

[2016-02-16 11:12] apana commented on #155
Hi Jim,

Yes, I can confirm this gives the same corrections. In pre6, auto:run2_data
points to 80X_dataRun2_v4 which points to the same JEC payloads
as Summer15_25nsV6_DATA.db.  I also ran with both and got the same results.

-Len

On Tue, Feb 16, 2016 at 2:40 AM, Jim B notifications@github.com wrote:

[2016-02-16 11:31] jimbrooke commented on #155
Thanks Len.  @raggleton and I both repeated that test, because we didn't know what was going on...

[2016-02-16 11:31] #155 closed

[2016-02-16 11:33] rekovic commented on #103
@Martin-Grunewald  The EtSum objects all store their scalar values as et.  So I don't think there is any need for specialisation of templated functions TriggerSummaryProducerAOD::fillTriggerObject and TriggerSummaryProducerAOD::fillFilterObjectMember.

On a similar, but a slightly different note, I have a bug fix for the Interface seeding of EtSums, 7f99810095530634ccce9a95a25624333bce5fd0.  The b

[2016-02-16 12:10] mulhearn commented on #103
@Martin-Grunewald you should use this xml file (already in the release):
   L1Trigger/L1TGlobal/data/Luminosity/startup/L1Menu_CollisionsHeavyIons2015_v4_uGT_v2.xml
which differs from v5 only by special triggers like MinimumBiasHF1 and Centrality which are not available in uGT as they use trigger primitives which are not available in Stage-2.

You can have the equivalent ppref menu by the end of t

[2016-02-16 12:16] mulhearn commented on #145
All problems reported so far from David are now addressed.

[2016-02-16 12:36] Martin-Grunewald commented on #103
@mulhearn
Thanks! But which parameter in which module do I change to select the proper L1T menu xml file I want? In L1TGlobalProducer.cc I find as the only file the prescale file, but no "xml menu" file. Do I have to configure an ES module with the xml file?

[2016-02-16 12:38] mulhearn commented on #103
Its already in the runHLT.py example code:

[code]

[2016-02-16 12:41] mulhearn commented on #103
(Thats an ESProducer)